<div id="<%= dom_id criterium %>">
  <p>
    <strong>Rubric:</strong>
    <%= criterium.rubric_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= criterium.description %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= criterium.weight %>
  </p>

  <p>
    <strong>Sequence:</strong>
    <%= criterium.sequence %>
  </p>

  <p>
    <strong>L1 description:</strong>
    <%= criterium.l1_description %>
  </p>

  <p>
    <strong>L2 description:</strong>
    <%= criterium.l2_description %>
  </p>

  <p>
    <strong>L3 description:</strong>
    <%= criterium.l3_description %>
  </p>

  <p>
    <strong>L4 description:</strong>
    <%= criterium.l4_description %>
  </p>

  <p>
    <strong>L5 description:</strong>
    <%= criterium.l5_description %>
  </p>

</div>
