<%= simple_form_for(@criterium) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :rubric %>
    <%= f.input :description %>
    <%= f.input :weight %>
    <%= f.input :sequence %>
    <%= f.input :l1_description %>
    <%= f.input :l2_description %>
    <%= f.input :l3_description %>
    <%= f.input :l4_description %>
    <%= f.input :l5_description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
