<div id="<%= dom_id assignment %>">
  <p>
    <strong>Open:</strong>
    <%= assignment.open %>
  </p>

  <p>
    <strong>Close:</strong>
    <%= assignment.close %>
  </p>

  <p>
    <strong>Rubric:</strong>
    <%= assignment.rubric_id %>
  </p>

  <p>
    <strong>Group enabled:</strong>
    <%= assignment.group_enabled %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= assignment.course_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= assignment.project_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= assignment.active %>
  </p>

</div>
