<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li class="ui-state-active ui-tabs-active"><a href="#profile" data-ajax="false">About You</a></li>
      <li><a href="#history" data-ajax="false">History</a></li>
    </ul>
  </div>
  <div id="profile" class="ui-body-<%= theme_code %> ui-content">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <h2>Your account information</h2>
          <%= f.error_notification %>
          <%= f.input :welcomed, as: :hidden, input_html: { value: true } %>

          <div class="form-inputs ui-corner-all custom-corners">
            <div class="ui-bar ui-bar-<%= theme_code %>">
              <h3>Edit your profile</h3>
            </div>
            <div class="ui-body ui-body-<%= theme_code %>">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :first_name, required: true, autofocus: true %>
              <%= f.input :last_name, required: true, autofocus: true %>
              <%= f.input :email, required: true, autofocus: true %>
              <%= link_to "Want to change your password? Click here and we'll email instructions.", send_reset_path %><br />
            </div>


              <div class="ui-corner-all custom-corners">
                <div class="ui-bar ui-bar-<%=theme_code %>">
                  <h3>Tell us about yourself<%= ", " + @current_user.first_name unless @current_user.first_name.nil? %></h3>
                </div>
                <div class="ui-body ui-body-<%=theme_code %>">
              <%= f.association :school, label: "Which school are you currently at?", prompt: "Select a School" %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.association :gender, prompt: "Select a gender" %>
              <%= f.association :age_range, label: "How old are you?", prompt: "Select an age range" %>
              <%= f.input :country, as: :country, label: "Where are you from?", prompt: "Select a country",
                    priority: ["United States", "Korea, Republic of" ] %>
              <%= f.input :timezone, as: :time_zone, label: "What time zone are you in?", prompt: "Select a timezone",
                    priority: /US|Seo/ %>
              <%= f.association :theme, prompt: "Please choose a UI theme", label: "What UI theme would you like to use?" %>
            </div>
            </div>
          </div>
  <div class="form-actions">
    <%= f.button :submit, "Update my profile!" %>
  </div>
<% end %>
  </div>
  <div id="history" class="ui-body-<%= theme_code %> ui-content">
    <h2>History of Activities in Which You've Taken Part</h2>
<table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">

      <thead>
      <tr>
        <th>Activity</th>
        <th data-priority="0">Type</th>
        <th data-priority="0">Completion Date</th>
        <th data-priority="0">Status</th>
        <th data-priority="1">Other information</th>
      </tr>
      </thead>
      <tbody>
      <% @current_user.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td>Course</td>
        <td><%= course.end_date.to_s %></td>
        <td><%= DateTime.current < course.end_date ? "In Progress" : "Finished" %></td>
        <td>
          Project Count: <%= course.projects.count %></br>
          SAPA completion rate: N/A</br>
          Experience Count: <%= course.experiences.count %></br>
        </td>
      </tr>
      <% end %>
      <% @current_user.reactions.each do |reaction| %>
      <tr>
        <td><%= reaction.experience.name %></td>
        <td>Experience</td>
        <td><%= reaction.updated_at.to_s %></td>
        <td>
          <%= reaction.status %>
        </td>
        <td>
        <% if reaction.status != "Not started" %>
          Scenario ID: <%= reaction.narrative.id + (100 * reaction.narrative.scenario.id) %>
        <% else %>
          You must begin the experience first
        <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
