<h2>Edit your profile, <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :welcomed, as: :hidden, input_html: { value: true } %>

  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
  <div class="form-inputs ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-<%= theme_code %>">
      <h3>Edit Your Profile</h3>
    </div>
    <div class="ui-body ui-body-<%= theme_code %>">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.association :school, label: "Which school are you currently at?", prompt: "Select a School" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.association :gender, prompt: "Select a gender" %>
    <%= f.association :age_range, label: "How old are you?", prompt: "Select an age range" %>
    <%= f.input :country, as: :country, label: "Where are you from?", prompt: "Select a country",
            priority: ["United States", "Korea, Republic of" ] %>
    <%= f.input :timezone, as: :time_zone, label: "What time zone are you in?", prompt: "Select a timezone",
      priority: /US|Seo/ %>
    <%= f.association :theme, prompt: "Please choose a UI theme", label: "What UI theme would you like to use?" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update my profile!" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
