<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :welcomed, as: :hidden, input_html: { value: true } %>

  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
  <div class="form-inputs ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-<%= theme_code %>">
      <h3>Edit Your Profile</h3>
    </div>
    <div class="ui-body ui-body-<%= theme_code %>">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>

    <%= f.association :gender, prompt: "Select a gender" %>
    <%= f.association :age_range, label: "How old are you?", prompt: "Select an age range" %>
    <%= f.input :country, as: :country, label: "Where are you from?", prompt: "Select a country",
            priority: ["United States", "Korea, Republic of" ] %>
    <%= f.input :timezone, as: :time_zone, label: "What time zone are you in?", prompt: "Select a timezone",
      priority: /US|Seo/ %>
    <%= f.association :theme, prompt: "Please choose a UI theme", label: "What UI theme would you like to use?" %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create my profile!" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
