<h2>Your weekly installment</h2>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<div class="instructions">
<p>Please complete this weeks' <%= @project_name %> assessment for 
group `<%= @group_name %>' by indicating how much effort each of the
<%= @members.count %> members of your group contributed towards each of
the <%= @behaviours.count %> behaviours. Please keep in mind that <em>this
report <u>should only cover this past week</u> and none of the period 
before</em>.</p>
<P>Use the buttons to indicate the amount of effort each member put in
towards each behaviour. When you indicate effort, it should reflect their
contribution relative to the other members of the group.</P>
</div>

<% if @installment.id.nil?
     url_params = { :action => "create" }
   else
     url_params = { :action => "update", :id => @installment.id }
   end %>
<%= form_for @installment, :url => url_params do |f| %>
  <%= f.hidden_field :inst_date %>
  <%= f.hidden_field :assessment_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :group_id %>
  <tr>
    <th>User</th>
  <% index = 0 %>
  <div data-role="collapsible-set">
    <% @behaviours.each do |behaviour| %>
      <div data-role="collapsible" data-collapsed="true">
        <h3><%= behaviour.name %></h3>
        <p>Description: <%= behaviour.description %></p>
          <table width="90%">
	      <tr>
	        <td></td>
          <td>How much of the group's progress this week in the area of <%= behaviour.name %>
            is attributable to each member?</td>
       	      </tr>
              <% @members.each do |member| %>
                <tr>
                    <td width="150">
                      <%= fields_for "installment[values_attributes][#{index}]",
                        @installment.value_for_user_behaviour( member, behaviour ) do |value_form| %>
                        <%= value_form.hidden_field :behaviour_id %>
                        <%= value_form.hidden_field :user_id %>
                        <%= label_tag 'value', member.name %>
                    </td>
                    <td>
                      <% val = ( @installment.value_for_user_behaviour( member, behaviour ).value / 150 ).round %>
                      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                        <%= value_form.radio_button :value, "0", :checked => ( val == 0 ) %>
                        <%= value_form.label :value_0, "nothing" %>
                        <%= value_form.radio_button :value, "150", :checked => ( val == 1 ) %>
                        <%= value_form.label :value_150, "little" %>
                        <%= value_form.radio_button :value, "300", :checked => ( val == 2 ) %>
                        <%= value_form.label :value_300, "average" %>
                        <%= value_form.radio_button :value, "450", :checked => ( val == 3 ) %>
                        <%= value_form.label :value_450, "a lot" %>
                        <%= value_form.radio_button :value, "600", :checked => ( val == 4 ) %>
                        <%= value_form.label :value_600, "everything" %>
                      </fieldset>
                      <% end %><br>
                      <% index += 1 %>
                    </td>
                </tr>
              <% end %>
          </table>
        </div>
    <% end %>
  </div>

  <%= render :partial => "installments/shared/comments", :object => f %>

  <%= f.submit "Submit Weekly Installment" %>
<% end %>
