<h2><%= t 'installments.subtitle' %></h2>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %> </p>
<% end %>
<div class="instructions">
  <p><%= t 'installments.instructions',
          group_name: @group.name,
          project_name: @group.project.get_name( false ),
          member_count: @members.count,
          factor_count: @factors.count %></p>
  <P><%= t 'installments.basic.instructions', total_val: Installment::TOTAL_VAL %></p>
</div>
<% if @installment.id.nil?
     url_params = { :action => "create" }
   else
     url_params = { :action => "update", :id => @installment.id }
   end %>
<%= form_for @installment, :url => url_params do |f| %>
  <%= f.hidden_field :inst_date %>
  <%= f.hidden_field :assessment_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :group_id %>
  <table>
    <tr>
      <th><%= t :member %></th>
      <% @factors.each do |factor| %>
        <th><%= factor.name %><br>
          <%= factor.description %></th>
      <% end %>
    </tr>
    <% index = 0 %>
    <% value = Value.new %>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.first_name %> <%= member.last_name %></td>
        <% @factors.each do |factor| %>
          <td>
            <%= @installment.value_for_user_factor( member, factor ).value %>
            <%= fields_for "installment[values_attributes][#{index}]",
              @installment.value_for_user_factor( member, factor ) do |value_form| %>
              <%= value_form.hidden_field :factor_id %>
              <%= value_form.hidden_field :user_id %>
              <%= value_form.number_field :value, :class => factor.name.delete(' ' ),
                :factor => factor.name.delete( ' ' ),
                :autocomplete => "off"  %>
            <% end %>
            <% index = index + 1 %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td><%= t 'installments.basic.totals', total_val: Installment::TOTAL_VAL %>:</td>
      <% @factors.each do |factor| %>
        <td>
          <%= text_field_tag ( factor.name.delete( ' ' ) + "_calc" ), Installment::TOTAL_VAL,
            :onchange => "alert( 'changed' );", :class => "total", :disabled => true %>
        </td>
      <% end %>
    </tr>
  </table>
  <%= render :partial => "installments/shared/comments", :object => f %>
  <%= f.submit t( 'installments.submit' ) %>
<% end %>
