<h2>Your weekly installment</h2>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %> </p>
<% end %>

<div class="instructions">
<p>Please complete this weeks' <%= @project_name %> assessment for 
group `<%= @group.name %>' by indicating how much effort each of the
<%= @members.count %> members of your group contributed towards each of
the <%= @factors.count %> factors. Please keep in mind that <em>this
report <u>should only cover this past week</u> and none of the period 
before</em>.</p>
<P>Each column below must total 600 and the row at bottom will indicate
the current total. Additionally, the submit button will only be available
when the totals equal 600.</p>
</div>
<% if @installment.id.nil?
     url_params = { :action => "create" }
   else
     url_params = { :action => "update", :id => @installment.id }
   end %>

<%= form_for @installment, :url => url_params do |f| %>
  <%= f.hidden_field :inst_date %>
  <%= f.hidden_field :assessment_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :group_id %>
  <table>
    <tr>
      <th>User</th>
    <% @factors.each do |factor| %>
      <th><%= factor.name %><br>
        <%= factor.description %></th>
    <% end %>
    </tr>
    <% index = 0 %>
    <% value = Value.new %>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.first_name %> <%= member.last_name %></td>
        <% @factors.each do |factor| %>
          <td>
            <%= fields_for "installment[values_attributes][#{index}]",
              @installment.value_for_user_factor( member, factor ) do |value_form| %>
              <%= value_form.hidden_field :factor_id %>
              <%= value_form.hidden_field :user_id %>
              <%= value_form.number_field :value, :class => factor.name.delete(' ' ),
                :factor => factor.name.delete( ' ' ),
                :autocomplete => "off" %>
            <% end %>
            <% index = index + 1 %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td>Totals:<br>(must equal 600)</td>
      <% @factors.each do |factor| %>
        <td>
          <%= text_field_tag ( factor.name.delete( ' ' ) + "_calc" ), 600,
            :onchange => "alert( 'changed' );", :class => "total", :disabled => true %>
        </td>
      <% end %>
    </tr>


  </table>
  <%= render :partial => "installments/shared/comments", :object => f %>

  <%= f.submit "Submit Weekly Installment" %>
<% end %>
