<h2>Your weekly installment</h2>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<div class="instructions">
<p>Please complete this weeks' <%= @installment_name %> assessment for 
group `<%= @group_name %>' by indicating how much effort each of the
<%= @members.count %> members of your group contributed towards each of
the <%= @factors.count %> factors. Please keep in mind that <em>this
report <u>should only cover this past week</u> and none of the period 
before</em>.</p>
<P>Use the sliders to increase or decrease the effort each member put in
towards each factor. Notice that when you increase one slider, all other
sliders will automatically drop proportionally and vice versa. Please do
visit each set of factors prior to submitting your report.</p>
</div>

<% if @installment.id.nil?
     url_params = { :action => "create" }
   else
     url_params = { :action => "update", :id => @installment.id }
   end %>
<%= form_for @installment, :url => url_params do |f| %>
  <%= f.hidden_field :inst_date %>
  <%= f.hidden_field :assessment_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :group_id %>
  <% index = 0 %>
  <div data-role="collapsible-set" data-content-theme="a">
    <% @factors.each do |factor| %>
      <div data-role="collapsible" data-collapsed="true" >
        <h3><%= factor.name %></h3>
        <p>Description: <%= factor.description %></p>
          <table width="90%">
              <% @members.each do |member| %>
                <tr>
                    <td width="150">
                      <%= fields_for "report[values_attributes][#{index}]",
                        @report.value_for_user_factor( member, factor ) do |value_form| %>
                        <%= value_form.hidden_field :factor_id %>
                        <%= value_form.hidden_field :user_id %>
                        <%= label_tag 'value', member.name %>
                    </td>
                    <td>
                      <br>
                      <%= value_form.range_field :value, 
                        :min => 0, :max => 600, 
                        :data => {:highlight => true }, :class => "slider",
                  			:factor => factor.name,
                  			:oldValue => (600 / @members.length ) %>
                      <br>
                      <% end %><br>
                      <% index += 1 %>
                    </td>
                </tr>
              <% end %>
          </table>
        </div>
    <% end %>
  </div>

  <%= render :partial => "reports/shared/comments", :object => f %>

  <%= f.submit "Submit Weekly Installment" %>
<% end %>
