<h2><%= t 'installments.subtitle' %></h2>
<% theme_code = get_theme_code
   anonymize = false %>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<% group = @installment.group%>
<div class="instructions">
  <p><%= raw t 'installments.instructions', 
          group_name: group.get_name( false ),
          project_name: group.project.get_name( false ),
          member_count: group.users.size,
          factor_count: @factors.size %></p>
</div>
  <%=
  if @installment.assessment_id > 0
  react_component( 'InstallmentReportWrapper', {
    token: form_authenticity_token,
    installmentId: @installment.id,
    getInstallmentUrl: ( edit_installment_path( @installment.assessment_id ) ),
    setInstallmentUrl: ( installments_path )
  })
  else
  react_component( 'InstallmentReportWrapper', {
    token: form_authenticity_token,
    installmentId: @installment.id,
    getInstallmentUrl: ( assessment_demo_complete_path ),
    setInstallmentUrl: ( installments_path )
  })
    
  end
  
  %>
