<h2>Your weekly installment</h2><% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<% anonymize = false %>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<div class="instructions">
  <p><%= raw t 'installments.instructions', 
          group_name: @group.get_name( false ),
          project_name: @group.project.get_name( false ),
          member_count: @members.count,
          factor_count: @factors.count %></p>
  <p><%= t raw 'installments.slider.instructions' %></p>
          
</div>
<% if @installment.id.nil?
     url_params = { :action => "create" }
   else
     url_params = { :action => "update", :id => @installment.id }
   end %>
<%= form_for @installment, :url => url_params, html: {novalidate: true} do |f| %>
  <%= f.hidden_field :inst_date %>
  <%= f.hidden_field :assessment_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :group_id %>
  <% index = 0 %>
  <div data-role="collapsible-set" data-content-theme="<%=theme_code%>">
    <% @factors.each do |factor| %>
      <div data-role="collapsible" data-collapsed="true" >
        <h3><%= factor.name %></h3>
        <p><%= t :description %>: <%= factor.description %></p>
        <table width="90%">
          <% @members.each do |member| %>
            <tr>
              <td width="150" class="full-width-slider" >
                <%= fields_for "installment[values_attributes][]",
                        @installment.value_for_user_factor( member, factor )do |value_form| %>
                  <%= value_form.hidden_field :factor_id %>
                  <%= value_form.hidden_field :user_id %>
                  <%= label_tag :value, member.informal_name( anonymize ) %>
                </td>
                <td>
                  <br>
                  <%= value_form.range_field :value, 
                        :min => 0, :max => 6000, 
                        :data => {:highlight => true },
                        :class => "slider ui-hidden-accessible val_container",
                        :step => ( @members.length - 1 ) ** 2,
                        :member => member.hash,
                  			:factor => factor.name,
                  			:oldValue => (6000 / @members.length ) %>
                  <br>
                <% end %><br>
                <% index += 1 %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
  <%= render :partial => "installments/shared/comments", :object => f %>
  <%= f.submit t 'installments.submit' %>
<% end %>
