<h2><%= t 'installments.subtitle' %></h2>
<% theme_code = get_theme_code
   anonymize = false %>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<div class="instructions">
  <p><%= raw t 'installments.instructions', 
          group_name: @group.get_name( false ),
          project_name: @group.project.get_name( false ),
          member_count: @members.size,
          factor_count: @factors.size %></p>
  <p><%= t raw 'installments.slider.instructions' %></p>
</div>
<% 
     url_params = { :action => "update", :id => @installment.id }
%>
  <%= react_component 'InstallmentReport', {
    token: form_authenticity_token,
    getInstallmentUrl: (@installment.assessment_id > 0 ?
      edit_installment_path( @installment.assessment_id ) :
      assessment_demo_complete_path ),
    setInstallmentUrl: 'there'
  } %>
