<div data-role="navbar" data-grid="d">
  <ul>
    <li>
      <%= link_to t( :courses_edit ), courses_path %>
    </li>
    <li>
      <%= link_to t( :projects_edit ), projects_path %>
    </li>
    <li>
      <%= link_to t( :experiences_edit ), experiences_path %>
    </li>
    <li>
      <%= link_to t( :bingo_games_edit ), bingo_games_path %>
    </li>
    <li>
      <%= link_to t( :schools_edit ), schools_path if @current_user.is_admin? %>
    </li>
  </ul>
</div>
