<h1><%= t( :your_tasks ) %></h1><% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<p><%= t 'home.greeting', name: @current_user.nil? ? "John" : @current_user.first_name %>,</br>
  <%= t 'home.tasks', count: 2 %>
   
  <table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>"
          data-column-popup-theme="<%= theme_code %>"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
    <thead>
      <tr>
        <th><%= t :task_name %></th>
        <th data-priority="1">Type</th>
        <th><%= t :status %></th>
        <th data-priority="1">Group</th>
        <th data-priority="0"><%= t :course_name %></th>
        <th data-priority="1"><%= t :open_date %></th>
        <th data-priority="0"><%= t :close_date %></th>
        <th data-priority="1"><%= t :consent_form %></th>
      </tr>
    </thead>
    <tbody>

    <tr>
      <td>
        <%= link_to "SuperStars", assessment_demo_complete_path %>
        <br>
        (Project: Research Paper)
      </td>
      <td><%= t 'home.sapa' %></td>
      <td>
        <em>Not Started</em>
      </td>
      <td>SuperStars</td>
      <td>Advanced Collaborative Research</td>
      <td> <%= 1.day.ago.strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
      <td> <%= 1.day.from_now.end_of_day.strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
      <td>N/A</td>
    </tr>

    <tr>
      <td>
        <%= link_to "What is collaboration?", bingo_demo_complete_path %>
      </td>
      <td><%= t 'home.terms_list' %></td>
      <td>
        <em>50%</em>
      </td>
      <td>SuperStars</td>
      <td>Advanced Collaborative Research</td>
      <td> <%= 1.week.ago.strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
      <td>
        <%= 2.day.from_now.end_of_day.strftime( "%a, %b %-d at %-l:%M%P %Z") %></br>
        <small><i><%= 4.day.from_now.end_of_day.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d") %></i></small>
      </td>
      <td>N/A</td>
    </tr>
    </tbody>
  </table>
