<h1>Your Tasks</h1><% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<p>Hello <%= @current_user.nil? ? "John" : @current_user.first_name %>,</br>
    You've got 2 tasks today.

   
  <table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>"
          data-column-popup-theme="<%= theme_code %>"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
    <thead>
      <tr>
        <th>Task Name</th>
        <th data-priority="1">Type</th>
        <th>Status</th>
        <th data-priority="1">Group</th>
        <th data-priority="0">Course Name</th>
        <th data-priority="1">Open Date</th>
        <th data-priority="0">Close Date</th>
        <th data-priority="1">Consent Form</th>
      </tr>
    </thead>
    <tbody>

    <tr>
      <td>
        <%= link_to "SuperStars", assessment_demo_complete_path %>
        <br>
        (Project: Research Paper)
      </td>
      <td>Self- and Peer-Assessment</td>
      <td>
        <em>Not Started</em>
      </td>
      <td>SuperStars</td>
      <td>Advanced Collaborative Research</td>
      <td> <%= 1.day.ago.strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
      <td> <%= 1.day.from_now.end_of_day.strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
      <td>N/A</td>
    </tr>

    <tr>
      <td>
        <%= link_to "What is collaboration?", bingo_demo_complete_path %>
      </td>
      <td>Terms list submission</td>
      <td>
        <em>0%</em>
      </td>
      <td>SuperStars</td>
      <td>Advanced Collaborative Research</td>
      <td> <%= 1.week.ago.strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
      <td> <%= 2.day.from_now.end_of_day.strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
      <td>N/A</td>
    </tr>
    </tbody>
  </table>
