<h1>Your Tasks</h1>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<p>Hello <%= @first_name %>,
  <% task_count = @waiting_student_tasks.count + @waiting_instructor_tasks.count %>
  <% if task_count > 0 %>
    <% if task_count == 1 %>
      You've got one task at the moment.
  <% else %>
      You've got <%= task_count %> tasks today.
  <% end %>
  <% else %>
    You do not currently have any tasks due. Check back later or contact your instructor.
  <% end %></p>
<% if @waiting_instructor_tasks.any? %>
<h3>Instructor Tasks</h3>
  <table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
    <thead>
      <tr>
        <th>Task Name</th>
        <th data-priority="1">Task Type</th>
        <th data-priority="0">Status</th>
        <th data-priority="1">Course Name</th>
        <th data-priority="0">Close Date</th>
      </tr>
    </thead>
    <tbody>
    <% @waiting_instructor_tasks.each do |task| %>
      <tr>
        <td data-priority="0"><%= link_to "Review: " + task.name, review_bingo_candidates_path( task )%> </td>
        <td align="center" data-priority="1">Bingo! Candidate Review</td>
        <td align="center" data-priority="1"><%= task.status %>%</td>
        <td data-priority="1"><%= task.course.name %></td>
        <td data-priority="0"><<%= task.end_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</br>
<% if @waiting_student_tasks.any? %>
  <table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Status</th>
        <th data-priority="0">Course Name</th>
        <th data-priority="1">Open Date</th>
        <th data-priority="0">Close Date</th>
        <th data-priority="1">Consent Form</th>
      </tr>
    </thead>
    <tbody>
      <% @waiting_student_tasks.each do |task| %>
        <% if task.class == Assessment %>
          <% group = task.group_for_user( @current_user )%>
          <tr>
            <td>
              <% if(task.is_completed_by_user @current_user) %>
                <%= link_to "Assess Group: #{group.name}", edit_installment_path( :assessment_id => task.id, :group_id => group.id ) %>
                <br>
                (Project: <%= task.project.name %>)
                  <% else %>
                <%= link_to "Assess Group: #{group.name}", new_installment_path( :assessment_id => task.id, :group_id => group.id ) %>
                <br>
                (Project: <%= task.project.name %>)
                  <% end %>
            </td>
            <td>
              <% if(task.is_completed_by_user @current_user) %>
                <em>completed</em>
              <% else %>
                <em>Not Started</em>
              <% end %>
            </td>
            <td> <%= group.name %></td>
            <td> <%= task.project.course.name %></td>
            <td> <%= task.start_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
            <td> <%= task.end_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
            <td>
              <%= render :partial => "shared/consent", :locals => { :project => task.project } %>
            </td>
          </tr>
        <% elsif task.class.name == "BingoGame" %>
          <tr><% candidate_list = task.candidate_list_for_user( @current_user ) %>
            <% if task.is_open? %>
              <td>
                <%= link_to "Terms for: " + task.name, edit_candidate_list_path( candidate_list ) %>
              </td>
              <td>
                <%= candidate_list.percent_complete %>%
              </td>
            <% elsif task.reviewed %>
              <td>
                <%= link_to "Terms for: " + task.name, candidate_list_path( candidate_list ) %>
              </td>
              <td>
                <% task.concepts.count %> concepts
              </td>
            <% end %>
            <td> <%= task.course.name %></td>
            <td> <%= task.start_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
            <td> <%= task.end_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
            <td>N/A</td>
          </tr>
        <% else %>
          <tr>
            <td>
              <% reaction = task.get_user_reaction( @current_user ) %>
              <% if reaction.behavior.present? %>
                <%= task.name + " experience" %>
              <% else %>
                <%= link_to task.name + " experience", next_experience_path( :experience_id => task.id ) %>
              <% end %>
            </td>
            <td>
              <em>
                <%= reaction.status %>
              </em>
            </td>
            <td><%= task.course.name %></td>
            <td> <%= task.start_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
            <td> <%= task.end_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
            <td>
              N/A
                </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
