<h1>Your Projects</h1>
<p>Hello <%= @first_name %>,
<% if @waiting_installments.any? %>
  <% if @waiting_installments.count == 1 %>
    You've got one project at the moment.
  <% else %>
    You've got <%= @waiting_installments.count %> projects today.
  <% end %>
<% else %>
  You do not currently have any projects. Check back later or contact your instructor.
<% end %></p>

<% if @waiting_installments.any? %>
   <table>
     <tr>
     <th>Project Name</th>
     <th>Group Name</th>
     <th>Course Name</th>
     <th>Open Date</th>
     <th>Close Date</th>
     <th>Consent Form</th>
     </tr>
     <% @waiting_installments.each do |cai| %>
        <% group = cai[ 0 ] %>
        <% assessment = cai[ 1 ] %>
        <tr>
        <td>
          <% if(assessment.is_completed_by_user @current_user) %>
            <%= link_to assessment.project.name, edit_installment_path( :assessment_id => assessment.id, :group_id => group.id ) %>
            <br>(<em>completed</em>)
          <% else %>
            <%= link_to assessment.project.name, new_installment_path( :assessment_id => assessment.id, :group_id => group.id ) %>
          <% end %>
        </td>
        <td> <%= group.name %></td>
        <td> <%= assessment.project.course.name %></td>
        <td> <%= assessment.start_date.in_time_zone( @current_user.timezone ).to_date.to_formatted_s(:rfc822) %> </td>
        <td> <%= assessment.end_date.in_time_zone( @current_user.timezone ).to_date.to_formatted_s(:rfc822) %> </td>
        <td>
          <%= render :partial => "shared/consent", :locals => { :project => assessment.project } %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
