<h1>Your Projects</h1>
<p>Hello <%= @first_name %>,
<% if @waiting_installments.any? %>
  <% if @waiting_installments.count == 1 %>
    You've got one project at the moment.
  <% else %>
    You've got <%= @waiting_installments.count %> projects today.
  <% end %>
<% else %>
  You do not currently have any projects. Check back later or contact your instructor.
<% end %></p>

<% if @waiting_installments.any? %>
   <table>
     <tr>
     <th>Project Name</th>
     <th>Group Name</th>
     <th>Course Name</th>
     <th>Open Date</th>
     <th>Close Date</th>
     <th>Consent Form</th>
     </tr>
     <% @waiting_installments.each do |cai| %>
        <% group = cai[ 0 ] %>
        <% installment = cai[ 1 ] %>
        <tr>
        <td>
          <% if(installment.is_completed_by_user @current_user) %>
            <%= link_to installment.project.name, edit_report_path( :installment_id => installment, :group_id => group ) %>
            <br>(<em>completed</em>)
          <% else %>
            <%= link_to installment.project.name, new_report_path( :installment_id => installment, :group_id => group ) %>
          <% end %>
        </td>
        <td> <%= group.name %></td>
        <td> <%= installment.project.course.name %></td>
        <td> <%= installment.start_date %> </td>
        <td> <%= installment.end_date %> </td>
        <td>
          <%= render :partial => "shared/consent", :locals => { :project => installment.project } %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
