<h1>Your Projects</h1>
<p>Hello <%= @first_name %>,
<% if @open_group_reports.any? %>
  <% if @open_group_reports.count == 1 %>
    You've got one assessment at the moment.
  <% else %>
    You've got <%= @open_group_reports.count %> asseessments today.
  <% end %>
<% else %>
  You do not currently have any assessments. Check back later or contact your instructor.
<% end %></p>

<% if @open_group_reports.any? %>
   <table>
     <tr>
     <th>Project Name</th>
     <th>Group Name</th>
     <th>Course Name</th>
     <th>Open Date</th>
     <th>Close Date</th>
     <th>Consent Form</th>
     </tr>
     <% @open_group_reports.each do |cai| %>
        <% group = cai[ 0 ] %>
        <% weekly = cai[ 1 ] %>
        <tr>
        <td>
          <% if(weekly.is_completed_by_user @current_user) %>
            <%= link_to weekly.assessment.name, edit_report_path( :weekly_id=> weekly.id, :group_id => group.id ) %>
            <br>(<em>completed</em>)
          <% else %>
            <%= link_to weekly.assessment.name, new_report_path( :weekly_id=> weekly.id, :group_id => group.id ) %>
          <% end %>
        </td>
        <td> <%= group.name %></td>
        <td> <%= group.project.course.name %></td>
        <td> <%= weekly.start_date %> </td>
        <td> <%= weekly.end_date %> </td>
        <td>
          <%= render :partial => "shared/consent", :locals => { :assessment => weekly.assessment } %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
