<h1><%= t( :your_tasks ) %></h1>
<% theme_code = get_theme_code
   anonymize = false %>
<p><%= t 'home.greeting', name: @first_name %>,</br>
<% tasks = @waiting_student_tasks + @waiting_instructor_tasks %>
<%= t 'home.tasks', count: tasks.size %></p>
<%= react_component "DecisionEnrollmentsTable", {
  init_url: course_reg_requests_path,
  update_url: proc_course_reg_requests_path,
  token: form_authenticity_token } %>
  
<%= react_component "TaskList", {
  token: form_authenticity_token,
  getEndpointsUrl: endpoints_path( unit: '' )
  } %>

