<h1>Your Tasks</h1>
<p>Hello <%= @first_name %>,
<% if @waiting_tasks.any? %>
  <% if @waiting_tasks.count == 1 %>
    You've got one task at the moment.
  <% else %>
    You've got <%= @waiting_tasks.count %> tasks today.
  <% end %>
<% else %>
  You do not currently have any tasks due. Check back later or contact your instructor.
<% end %></p>

<% if @waiting_tasks.any? %>
   <table>
     <tr>
     <th>Project Name</th>
     <th>Group Name</th>
     <th>Course Name</th>
     <th>Open Date</th>
     <th>Close Date</th>
     <th>Consent Form</th>
     </tr>
     <% @waiting_tasks.each do |task| %>
        <% if task.class.name == "Assessment" %>
                <% group = task.group_for_user( @current_user )%>
                <tr>
                <td>
                  <% if(task.is_completed_by_user @current_user) %>
                    <%= link_to task.project.name, edit_installment_path( :assessment_id => task.id, :group_id => group.id ) %>
                    <br>(<em>completed</em>)
                  <% else %>
                    <%= link_to task.project.name, new_installment_path( :assessment_id => task.id, :group_id => group.id ) %>
                  <% end %>
                </td>
                <td> <%= group.name %></td>
                <td> <%= task.project.course.name %></td>
                <td> <%= task.start_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
                <td> <%= task.end_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
                <td>
                  <%= render :partial => "shared/consent", :locals => { :project => task.project } %>
                </td>
              </tr>
        <% else %>
                <tr>
                <td>
                  task.name
                </td>
                <td> n/a </td>
                <td> <%= task.project.course.name %></td>
                <td> <%= task.start_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
                <td> <%= task.end_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %> </td>
                <td>
                  <%= render :partial => "shared/consent", :locals => { :project => task.project } %>
                </td>
              </tr>
         <% end %>
    <% end %>
  </table>
<% end %>
