<h1>You've been invited!</h1>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
  <p>Hello <%= @first_name %>,
    <% pluralize = "s" if @waiting_rosters.count > 1 %>
    Please respond to your invitation<%= pluralize %> to the following <%= @waiting_rosters.count if pluralize == "s" %> course<%= pluralize %>:
  </p>
  <table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Status</th>
        <th data-priority="0">Course Name</th>
        <th data-priority="1">Open Date</th>
        <th data-priority="0">Close Date</th>
        <th data-priority="1">Consent Form</th>
      </tr>
    </thead>
    <tbody>
      <% @waiting_rosters.each do |roster| %>
        <tr>
          <td>
            <%= link_to "Accept", accept_roster_path( :roster_id => roster.id ) %> / 
            <%= link_to "Decline", decline_roster_path( :roster_id => roster.id ) %> enrollment
          </td>
          <td><em>Waiting</em></td>
          <td><%= roster.course.name %></td>
          <td><%= roster.course.start_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %></td>
          <td><%= roster.course.end_date.in_time_zone( @current_user.timezone ).strftime( "%a, %b %-d at %-l:%M%P %Z") %></td>
          <td>N/A</td>
        </tr>
      <% end %>
    </tbody>
  </table>
