<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t 'home.greeting', name: @user.first_name %>.</h1>
    <p>
      <%= t :avail_body, activity_name: @activity,
          site_link: link_to( t( :title ), root_url ),
          login_link: link_to( t( :login ), root_url ) %>
    </P>
    <P>
      <%= link_to root_url, root_url %>
    </P>
    <P><%= t :email_close %></p>
    <P><%= t :support_formal %></p>
  </body>
</html>
