<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t :greeting_unknown %><h1>
    <p>
      <%= t :course_invite_body, count: @user.rosters.count %>
    </P>
    <ul>
      <% @user.rosters.each do |roster| %>
        <li><%= roster.course.name %></li>
      <% end %>
    </ul>
    <P>
      <%= raw( t :course_invite_close, link_to( t( :title ), root_url ) ) %>
    </p>
          
    <P><%= t :email_close %></p>
    <P><%= t :support_formal %></p>
    </body>
  </html>
