<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t 'home.greeting', name: @user.first_name %>.</h1>
    <p>
      <%= raw( t :summary_body, task_name: @name,
                           course_name: @course_name,
                           site_link: (link_to t( :title ), root_url) ) %>
      <%= t :enrolled_student, count: @completion_report.keys.count %>
    </P>
    <table>
      <tr>
        <th><%= t :student %></th>
        <th><%= t :completed_at %></th>
      </tr>
      <% @completion_report.keys.each do |user_email| %>
        <tr>
          <td><%= mail_to user_email,
              @completion_report[ user_email ][ :name ]  %>
          </td>
          <td><%= @completion_report[ user_email ][ :status ] %></td>
        </tr>
      <% end %>
    </table>
    <P><%= t :email_close %></p>
    <P><%= t :support_formal %></p>
  </body>
</html>
