<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %>.</h1>
    <p>
      Below is your students' completion report from the task 
      <em><%= @name %></em> in the course <em><%= @course_name %></em>
      which recently completed at <%= link_to "CoLab.online", root_url %>.
      There are <%= @completion_report.keys.count %> students enrolled in
      the course.
    </P>
    <table>
      <tr>
        <th>Student</th>
        <th>Completed at:</th>
      </tr>
      <% @completion_report.keys.each do |user_email| %>
        <tr>
          <td><%= mail_to user_email,
              @completion_report[ user_email ][ :name ]  %>
          </td>
          <td><%= @completion_report[ user_email ][ :status ] %></td>
        </tr>
      <% end %>
    </table>
    <P>
      Thank you!
          </P>
    <P>
      CoLab Support
          </p>
  </body>
</html>
