<%= simple_form_for @project do |f| %>
  <%= f.error_notification %>
  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false">Details</a></li>
        <li><a href="#groups" data-ajax="false">Group Assignments</a></li>
        <li><a href="#summary" data-ajax="false">Response Summary</a></li>
        <li><a href="#responses" data-ajax="false">Response Data</a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2>Project Details</h2>
      <div class="form-inputs">
        <strong>Course: </strong> <%= @project.course.name %></br></br>
        <%= f.input :name %>
        <%= f.input :active %>
        <table width="100%">
          <tr>
            <td width="45%">
              <%= f.input :start_date, as: :date_time_local, label: "Project start date" %>
            </td>
            <td width="10%" align="center" valign="center">&nbsp;</td>
            <td width="45%">
              <%= f.input :end_date, as: :date_time_local, label: "Project end date" %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <em>Note: This project occurs in the <%= @project.course.timezone %> timezone and all dates reflect this.</em>
            </br>
          </br>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.input :start_dow,
                          collection: Date::DAYNAMES.each_with_index.to_a,
                          prompt: true,
                          label: "Opens every"  %>
        </td>
        <td width="10%" align="center" valign="center">&nbsp;</td>
        <td>
          <%= f.input :end_dow,
                          collection: Date::DAYNAMES.each_with_index.to_a,
                          prompt: true,
                          label: "Closes every"  %>
        </td>
      </tr>
    </table>
    <%= f.association :factor_pack, prompt: true %>
    <%= f.association :style, prompt: true %>
    <%= f.input :description, as: :text %>
  </div>
</div>
<div id="details" class="ui-body-<%= theme_code %> ui-content">
</div>
<div id="groups" class="ui-body-<%= theme_code %> ui-content">
  <h2>Group memberships</h2>
  <% if @project.groups.any? || @project.enrolled_user_rosters.any? %>
    <table id="project_table" width="90%" data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
        <tr>
          <th>Student</th>
          <% groups = @project.groups %>
          <% groups.each do |group| %>
            <th data-priority="0"><%= text_field_tag "group_" + group.id.to_s, group.name %></th>
          <% end %>
          <th data-priority="0">[no group]</th>
        </tr>
      </thead>
      <tbody>
        <% @project.course.enrolled_students.each do |user| %>
          <tr>
            <td><%= mail_to user.email, user.name %></td>
            <% groups.each do |group| %>
              <td align="center"><%= radio_button_tag "user_group_#{user.id}", group.id, group.has_user( user ) %></td>
            <% end %>
            <td align="center"><%= radio_button_tag("user_group_#{user.id}", "-1", @project.group_for_user( user ).nil? ) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div id="summary" class="ui-body-<%= theme_code %> ui-content">
  <h2>Response Summary</h2>
</div>
<div id="responses" class="ui-body-<%= theme_code %> ui-content">
  <h2>Responses</h2>
</div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
