<%= simple_form_for @project do |f| %>
  <%= f.error_notification %>
  <% theme_code = get_theme_code
     anonymize = get_anonymous %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
        <li><a href="#groups" data-ajax="false">Group Assignments</a></li>
        <li><a href="#summary" data-ajax="false"><%= t :resp_summ %></a></li>
        <li><a href="#responses" data-ajax="false"><%= t :resp_data %></a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t '.projects.show.title' %></h2>
      <div class="form-inputs">
        <strong><%= t :course %>: </strong> <%= @project.course.get_name( anonymize ) %></br></br>
    <%= f.input :course_id, as: :hidden %>
    <%= f.input :name %>
    <%= f.input :active %>
    <table width="100%">
      <tr>
        <td width="45%">
          <% ctz = f.object.course.timezone %>
          <%= f.input :start_date, as: :date, html5: true, label: t('projects.start_date_lbl'),
            input_html: { value: to_tz( date: f.object.start_date, tz_str: ctz )} %>
        </td>
        <td width="10%" align="center" valign="center">&nbsp;</td>
        <td width="45%">
          <%= f.input :end_date, as: :date, html5: true, label: t('projects.end_date_bl'),
            input_html: { value: to_tz( date: f.object.end_date, tz_str: ctz )} %>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <em><%= t :note %>: <%= t 'projects.tz_warn', time_zone: @project.course.timezone %></em>
        </br>
      </br>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.input :start_dow,
                          collection: Date::DAYNAMES.each_with_index.to_a,
                          prompt: true,
                          label: t( 'projects.opens' )  %>
    </td>
    <td width="10%" align="center" valign="center">&nbsp;</td>
    <td>
      <%= f.input :end_dow,
                          collection: Date::DAYNAMES.each_with_index.to_a,
                          prompt: true,
                          label: t( 'projects.closes' )  %>
    </td>
  </tr>
</table>
<%= f.association :factor_pack, prompt: true %>
<%= f.association :style, prompt: true %>
<%= f.input :description, as: :text %>
</div>
</div>
<div id="details" class="ui-body-<%= theme_code %> ui-content">
</div>
<div id="groups" class="ui-body-<%= theme_code %> ui-content">
  <h2>Group memberships</h2>
  <%= t 'projects.groups_intro', group_count: @project.groups.count %><br>
  <br>
  <% if @project.groups.any? || @project.enrolled_user_rosters.any? %>
    <table id="project_table" width="90%" data-role="table"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
        <tr>
          <th><%= t :student %></th>
          <% groups = @project.groups %>
          <% groups.each do |group| %>
            <th align="center" data-priority="0"><%= text_field_tag "group_" + group.id.to_s, group.get_name( anonymize ) %></th>
          <% end %>
          <th data-priority="0">[<%= t 'projects.no_group' %>]</th>
        </tr>
        <tr>
          <th>
            <%= t 'projects.diversity_scores' %><hr>
            <%= t :student_names %>
          </th>
          <% groups = @project.groups %>
          <% groups.each do |group| %>
            <td align="center">
              <center>
                <%= group.diversity_score.nil? ? '--' : group.diversity_score %><br>
              </center>
            </td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @project.course.enrolled_students.each do |user| %>
          <tr>
            <td><%= mail_to user.email, user.name( anonymize ) %></td>
            <% groups.each do |group| %>
              <td align="center"><%= radio_button_tag "user_group_#{user.id}", group.id, group.has_user( user ) %></td>
            <% end %>
            <td align="center"><%= radio_button_tag("user_group_#{user.id}", "-1", @project.group_for_user( user ).nil? ) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div id="summary" class="ui-body-<%= theme_code %> ui-content">
  <h2><%= t :resp_summ %></h2>
</div>
<div id="responses" class="ui-body-<%= theme_code %> ui-content">
  <h2><%= t :resp_data %></h2>
</div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
