<%= simple_form_for @project do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course %>
    <%= f.input :name %>
    <%= f.input :active %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.select :start_dow, Date::DAYNAMES.each_with_index.to_a, prompt: true  %>
    <%= f.select :end_dow, Date::DAYNAMES.each_with_index.to_a, prompt: true  %>
    <%= f.association :factor_pack %>
    <%= f.association :style %>
    <%= f.input :description, as: :text %>
  </div>
  <h2>Group memberships</h2>
  <% if @project.groups.any? || @project.users.enrolled.any? %>
  <table>
    <tr>
      <th>&nbsp;</th>
      <% @project.groups.each do |group| %>
      <th><%= group.name %></th>
      <% end %>
    </tr>
      <% @project.course.enrolled_students.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% @project.groups.each do |group| %>
        <td><%= "X" if group.has_user user %></td>
        <% end %>
      </tr>
      <% end %>
  <table>
  <% end %>
    

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
