<p id="notice"><%= notice %></p>

<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<h1>Listing Projects</h1>

        <table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">

    <thead>
    <tr>
      <th>Name</th>
      <th data-priority="0">Start Date</th>
      <th data-priority="0">End Date</th>
      <th data-priority="1">Start DOW</th>
      <th data-priority="1">End DOW</th>
      <th data-priority="1">Groups</th>
      <th data-priority="0">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= Date::DAYNAMES.at project.start_dow %></td>
        <td><%= Date::DAYNAMES.at project.end_dow %></td>
        <td><%= project.groups.count %></td>
        <td><%= link_to 'Show', project %>&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_project_path(project) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
