<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th data-priority="0"><%= t :start_date %></th>
      <th data-priority="0"><%= t :end_date %></th>
      <th data-priority="1"><%= t :start_dow %></th>
      <th data-priority="1"><%= t :end_dow %></th>
      <th data-priority="1"><%= t :groups %></th>
      <th data-priority="0"><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.get_name( anonymize ), project %></td>
        <td>
          <div hidden>
            <%= l in_tz( date: project.start_date ), format: :datestamp %>
          </div>
          <%= l in_tz( date: project.start_date ), format: :tz_clarity %>
        </td>
        <td>
          <div hidden>
            <%= l in_tz( date: project.end_date ), format: :datestamp %>
          </div>
          <%= l in_tz( date: project.end_date ), format: :tz_clarity %>
        </td>
        <td><%= Date::DAYNAMES.at project.start_dow %></td>
        <td><%= Date::DAYNAMES.at project.end_dow %></td>
        <td><%= project.groups.count %></td>
        <td><%= link_to( t( :show ), project) %>&nbsp;|&nbsp;
        <%= link_to( t( :edit ), edit_project_path(project) ) %>&nbsp;|&nbsp;
        <%= link_to( t( :destroy ), project, method: :delete, data: { confirm: t( :confirmation ) }  )%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
