<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
      <li><a href="#groups" data-ajax="false">Group Assignments</a></li>
      <li><a href="#summary" data-ajax="false"><%= t :resp_summ %></a></li>
      <li><a href="#responses" data-ajax="false"><%= t :resp_data %></a></li>
    </ul>
  </div>
  <div id="details" class="ui-body-<%= theme_code %> ui-content">
    <h2><%= t '.title' %></h2>
    <p>
      <h3><%= t :name %>:</h3>
      <%= @project.get_name( anonymize ) %>
      (<% if @project.active %>
        <%= t :active %>
      <% else %>
        <span class="error"><%= t :inactive %></span> &mdash;
        <%= link_to t( :activate ), activate_project_path( @project ) %>
      <% end %>)
    </p>
    <p>
      <h3><%= t :dates %>:</h3>
      <%= raw t( 'projects.edit.date_summ',
            start_date: in_tz( date: @project.start_date ),
            end_date: in_tz( date: @project.end_date ),
            start_dow: ( Date::DAYNAMES.at @project.start_dow ),
            end_dow: ( Date::DAYNAMES.at @project.end_dow ) ) %><br>
      <em><%= t :note %>: <%= t 'projects.tz_warn', time_zone: @project.course.timezone %></em></br>
  </p>
  <p>
    <h3><%= t :description %>:</h3>
    <%= raw( @project.description ) %>
  </p>
  <p>
    <h3><%= t :factor_pack %>:</h3>
    <% if @project.factor_pack.present? %>
      <%= @project.factor_pack.name %></br>
    <ul>
      <% @project.factor_pack.factors.each do |factor| %>
        <li><%= factor.name %></li>
      <% end %>
    </ul>
  <% else %>
    [<%= t :not_set %>]
  <% end %>
</p>
</div>
<div id="groups" class="ui-body-<%= theme_code %> ui-content">
  <h2><%= t :groups %></h2>
  <p>
    <%= t 'projects.groups_intro', group_count: @project.groups.size %><br>
    <br>
    <%= link_to t('projects.recalculate_diversities'),
        rescore_groups_path( id: @project.id ) %>
    <%= form_tag add_group_path, method: :get do %>
      <%= label_tag :group_name, t( 'projects.new_group' ) %>
      <%= text_field_tag :group_name %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= submit_tag "Add!" %>
    <% end %>
    <% if @project.groups.any? || @project.course.rosters.enrolled.any? %>
      <table id="groups_table" width="90%" data-role="table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
        <thead>
          <tr>
            <th>
              <%= t :groups_names %><br>
            </th>
            <% groups = @project.groups %>
            <% groups.each do |group| %>
              <th align="center" data-priority="0">
                <%= group.get_name( anonymize ) %>
              </th>
            <% end %>
            <th data-priority="0" rowspan='2'>[<%= t 'projects.no_group' %>]</th>
          </tr>
          <tr>
            <th>
              <%= t 'projects.diversity_scores' %><br>
              <br>
              <%= t :student_names %>
            </th>
            <% groups = @project.groups %>
            <% groups.each do |group| %>
              <td align="center">
                <center>
                  <%= group.diversity_score.nil? ? '--' : group.diversity_score %><br>
                  <%= link_to "[#{t('projects.rescore')}]",
                          rescore_group_path( id: @project.id, group_id: group.id ) %>
                </center>
              </td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @project.course.rosters.includes( :user ).enrolled.each do |roster| 
             user = roster.user %>
            <tr>
              <td><%= mail_to user.email, user.name( anonymize ) %></td>
              <% @project.groups.each do |group| %>
                <td>
                  <center><%= raw( "&#10004;" ) if group.has_user user %></center>
                </td>
              <% end %>
              <td>
                <center><%= raw( "&#10004;" ) if @project.group_for_user( user ).nil? %></center>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </p>
</div>
<div id="summary" class="ui-body-<%= theme_code %> ui-content">
  <h2><%= t :resp_summ %></h2>
</div>
<div id="responses" class="ui-body-<%= theme_code %> ui-content">
  <h2><%= t :resp_data %>
    <h2>
    </div>
  </div>
  <%= link_to (t 'projects.edit.title'), edit_project_path(@project) %>
  <%= link_to (t :back_to_course), @project.course %>
