<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#details" data-ajax="false">Details</a></li>
      <li><a href="#groups" data-ajax="false">Group Assignments</a></li>
      <li><a href="#summary" data-ajax="false">Response Summary</a></li>
      <li><a href="#responses" data-ajax="false">Response Data</a></li>
    </ul>
  </div>
  <div id="details" class="ui-body-<%= theme_code %> ui-content">
    <h2>Project Details</h2>
    <p>
      <h3>Name:</h3>
      <%= @project.name %>
      (<% if @project.active %>
        Active
      <% else %>
        <span class="error">Inactive</span>
      <% end %>)
    </p>
    <p>
      <h3>Dates:</h3>
      <%= @project.start_date %> to
      <%= @project.end_date %><br>
      <%= Date::DAYNAMES.at @project.start_dow %> to
      <%= Date::DAYNAMES.at @project.end_dow %><br>
    </p>
    <p>
      <h3>Description:</h3>
      <%= @project.description %>
    </p>
    <p>
      <h3>Factor Pack:</h3>
      <%= @project.factor_pack.name %></br>
    <ul>
      <% @project.factor_pack.factors.each do |factor| %>
        <li><%= factor.name %></li>
      <% end %>
    </ul>
  </p>
  <%= link_to 'Edit Project Details', edit_project_path(@project) %>
</div>
<div id="groups" class="ui-body-<%= theme_code %> ui-content">
  <h2>Groups</h2>
  <p>
    <%= form_tag add_group_path, method: :get do %>
      <%= label_tag :group_name, "New group name: " %>
      <%= text_field_tag :group_name %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= submit_tag "Add!" %>
    <% end %>
    <% if @project.groups.any? || @project.course.enrolled_students.any? %>
      <table id="project_table" width="90%" data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
        <thead>
          <tr>
            <th>Student</th>
            <% groups = @project.groups %>
            <% groups.each do |group| %>
              <th data-priority="0"><%= group.name %></th>
            <% end %>
            <th data-priority="0">[no group]</th>
          </tr>
        </thead>
        <tbody>
          <% @project.course.enrolled_students.each do |user| %>
            <tr>
                <td><%= mail_to user.email, user.name %></td>
            <% @project.groups.each do |group| %>
              <td>
                <center><%= raw( "&#10004;" ) if group.has_user user %></center>
              </td>
            <% end %>
            <td>
              <center><%= raw( "&#10004;" ) if @project.group_for_user( user ).nil? %></center>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>
<%= link_to 'Edit Project', edit_project_path(@project) %>
</div>
<div id="summary" class="ui-body-<%= theme_code %> ui-content">
  <h2>Response Summary</h2>
</div>
<div id="responses" class="ui-body-<%= theme_code %> ui-content">
  <h2>Responses</h2>
</div>
</div>
<%= link_to 'Back to course', @project.course %>
