<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @project.start_date %> to
  <%= @project.end_date %><br>
  <%= Date::DAYNAMES.at @project.start_dow %> to
  <%= Date::DAYNAMES.at @project.end_dow %><br>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Factor Pack:</strong>
  <%= @project.factor_pack.name %></br>
  <ul>
  <% @project.factor_pack.factors.each do |factor| %>
    <li><%= factor.name %><br></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Groups:</strong>
  <%= form_tag add_group_path, method: :get do %>
    <%= label_tag :group_name, "New group name: " %>
    <%= text_field_tag :group_name %>
    <%= hidden_field_tag :project_id, @project.id %>
    <%= submit_tag "Add!" %>
  <% end %>
  <% if @project.groups.any? || @project.users.enrolled.any? %>
  <table>
    <tr>
      <th>&nbsp;</th>
      <% @project.groups.each do |group| %>
      <th><%= group.name %></th>
      <% end %>
    </tr>
      <% @project.course.enrolled_students.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% @project.groups.each do |group| %>
        <td><%= "X" if group.has_user user %></td>
        <% end %>
      </tr>
      <% end %>
  <table>
  <% end %>

</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
