<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
    </ul>
  </div>
  <div id="details" class="ui-body-<%= theme_code %> ui-content">
    <h2><%= t '.title' %></h2>
    <%= react_component "ProjectDataAdmin", {
      token: form_authenticity_token,
      projectId: @project.id,
      courseId: @project.course_id,
      projectUrl: projects_path,
      activateProjectUrl: activate_project_path,
      groupsUrl: groups_path(@project),
      diversityCheckUrl: check_diversity_score_path,
      diversityRescoreGroup: rescore_group_path(@project),
      diversityRescoreGroups: rescore_groups_path(@project)
      }
      %>
</div>
  <%= link_to (t 'projects.edit.title'), edit_project_path(@project) %>
  <%= link_to (t :back_to_course), @project.course %>
