<%= simple_form_for @experience do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course %>
    <%= f.input :name %>
    <%= f.input :active %>
    <%= f.input :start_date, as: :date_time_local %>
    <%= f.input :end_date, as: :date_time_local %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
