<%= simple_form_for @experience do |f| %>
  <%= f.error_notification %>
  <% theme_code = get_theme_code
     anonymize = get_anonymous %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
        <li><a href="#summary" data-ajax="false"><%= t :resp_summ %></a></li>
        <li><a href="#responses" data-ajax="false"><%= t :resp_data %></a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'experiences.show.title' %></h2>
      <div class="form-inputs">
        <strong><%= t :course %>: </strong> <%= @experience.course.name %></br></br>
    <%= f.input :course_id, as: :hidden %>
    <%= f.input :name %>
    <%= f.input :active %>
    <table width="100%">
      <tr>
        <td width="45%">
          <% ctz = f.object.course.timezone %>
          <%= f.input :start_date, as: :date, html5: true, label: t( 'experiences.start_date_lbl' ),
            input_html: { value: date_field_in_tz( date: f.object.start_date, tz_str: ctz )} %>
        </td>
        <td width="10%" align="center" valign="center">&nbsp;</td>
        <td width="45%">
          <%= f.input :end_date, as: :date, html5: true, label: t('experiences.end_date_lbl'),
            input_html: { value: date_field_in_tz( date: f.object.end_date, tz_str: ctz )} %>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <em><%= t :note %>: <%= t 'experiences.tz_warn', time_zone: @experience.course.timezone %></em>
        </br>
      </br>
    </td>
  </tr>
</table>
</div>
</div>
<div id="summary" class="ui-body-<%= theme_code %> ui-content">
  <h2><%= t 'bingo_games.response_summary' %></h2>
  <table width="90%" data-role="table"
          id="responsesTable"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
    <thead>
      <tr>
        <th ><%= t :family_name %></th>
        <th data-priority="0"><%= t :given_name %></th>
        <th data-priority="1"><%= t :email %></th>
        <th data-priority="0"><%= t :status %></th>
        <th data-priority="1"><%= t 'experiences.scenario_lbl' %></th>
        <th data-priority="1"><%= t 'experiences.narrative_lbl' %></th>
        <th ><%= t 'experiences.overall_diagnosis' %></th>
        <th data-priority="0"><%= t 'experiences.reaction_diagnosis' %></th>
      </tr>
    </thead>
    <tbody>
      <% @experience.course.enrolled_students.each do |student| %>
        <tr><% reaction = @experience.get_user_reaction( student ) %>
          <% if anonymize %>
            <td><%= student.anon_last_name %></td>
            <td><%= student.anon_first_name %></td>
          <% else %>
            <td><%= student.last_name.nil? ? t( :not_given ): student.last_name %></td>
            <td><%= student.first_name.nil? ? t( :not_given ): student.first_name %></td>
          <% end %>
          <td><%= mail_to student.email %></td>
          <% if reaction.behavior.present? #completed %>
            <td>Completed</td>
            <td><%= reaction.narrative.scenario.behavior.name %></td>
            <td><%= reaction.narrative.member %></td>
            <td><%= reaction.behavior.name %></td>
            <td>
              <% if reaction.improvements.blank? %>
                N/A
              <% else %>
                <a href="#imp_<%= reaction.id %>"
                      class="ui-btn ui-corner-all ui-shadow ui-btn-inline"
                      data-rel="popup"
                      data-position-to="origin"><%= t 'experiences.improvements' %></a>
              <% end %>
            </td>
          <% elsif reaction.next_week.nil? #all but the conclusions %>
            <td>97%</td>
            <td><%= reaction.narrative.scenario.behavior.name %></td>
            <td><%= reaction.narrative.member %></td>
            <td><%= t 'experiences.not_completed' %></td>
            <td><%= t 'experiences.not_completed' %></td>
          <% elsif reaction.status == '0%' %>
            <td>0%</td>
            <td><%= t 'experiences.not_started' %></td>
            <td><%= t 'experiences.not_started' %></td>
            <td><%= t 'experiences.not_started' %></td>
            <td><%= t 'experiences.not_started' %></td>
          <% else #in progress %>
            <td><%= reaction.status %>%</td>
            <td><%= reaction.narrative.scenario.behavior.name %></td>
            <td><%= reaction.narrative.member %></td>
            <td><%= reaction.narrative.scenario.behavior.name %></td>
            <td>
              N/A
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% @experience.course.enrolled_students.each do |student| %>
    <% reaction = @experience.get_user_reaction( student ) %>
    <div data-role="popup" id="imp_<%= reaction.id %>" class="ui-content" data-theme="<%= theme_code %>">
      <p><%= simple_format(reaction.improvements) %></p>
    </div>
  <% end %>
</div>
<div id="responses" class="ui-body-<%= theme_code %> ui-content">
  <h2><%= t :resp_data %></h2>
  <p><%= t :coming_soon %></p>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
