<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
   anonymize = @current_user.research %>
<table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th data-priority="0">Start Date</th>
      <th data-priority="0">End Date</th>
      <th data-priority="0">Active</th>
      <th data-priority="0">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= link_to experience.get_name( anonymize ), experience %></td>
        <td><%= experience.course.get_name( anonymize ) %></td>
        <td><%= experience.start_date %></td>
        <td><%= experience.end_date %></td>
        <td><%= experience.active %></td>
        <td><%= link_to 'Show', experience %>&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_experience_path(experience) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Experience', new_experience_path %>
