<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
   anonymize = @current_user.anonymize? %>
<table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th><%= t :course %></th>
      <th data-priority="0"><%= t :start_date %></th>
      <th data-priority="0"><%= t :end_date %></th>
      <th data-priority="0"><%= t :active %></th>
      <th data-priority="0"><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= link_to experience.get_name( anonymize ), experience %></td>
        <td><%= experience.course.get_name( anonymize ) %></td>
        <td><%= l experience.start_date, format: :tz_clarity %></td>
        <td><%= l experience.end_date, format: :tz_clarity %></td>
        <td><%= experience.active %></td>
        <td><%= link_to( t(:show), experience_path( experience )) %>&nbsp;|&nbsp;
        <%= link_to t(:edit), edit_experience_path(experience) %>&nbsp;|&nbsp;
        <%= link_to t(:destroy),
                        experience_path( experience ),
                        method: :delete,
                        data: { confirm: t( :confirmation ) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to( t( 'experiences.new.title' ), new_experience_path ) %>
