<div style="display: none" id="s_id"><%= @diagnosis.week.narrative.scenario_id %></div>
<div style="display: none" id="w_num"><%= @diagnosis.week.week_num %></div>
<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h3>Journal entry: Week <%= @diagnosis.week.week_num %></h3>
  </div>
  <div class="ui-body ui-body-a">
<%= @diagnosis.week.text.html_safe %>
  </div>
</div>

<br>
<hr>
<%= simple_form_for @diagnosis, :url => { :controller => "experiences", :action => "diagnose" }, :method => :get do |f| %>

  <%= f.hidden_field :week_id, value: @diagnosis.week_id  %>
  <%= f.hidden_field :reaction_id, value: @reaction.id  %>

  <% if @diagnosis.errors.any? && @diagnosis.errors[:behavior ].count > 0 %>
    <p class='error'><%= @diagnosis.errors[ :behavior ].first %></p>
  <% end %>
  <div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
      <h3>Which behavior best characterizes this group now?</h3>
    </div>
    <div class="ui-body ui-body-a">
      <%= f.association :behavior, :collection => Behavior.all, :as => :radio_buttons %>

      <% if @diagnosis.errors.any? && @diagnosis.errors[ :other_name ].count > 0 %>
        <div id="other_name_panel">
        <p class='error'><%= @diagnosis.errors[ :other_name ].first %></p>
      <% else %>
        <div style="display: none" id="other_name_panel">
      <% end %>
          <%= f.label :other_name, "What behavior did you see?" %>
          <%= f.input :other_name %><br>
        </div>
    </div>
  </div>

  <div data-role="collapsible">
    <h3><%= f.label :comment, "Click here if you have additional comments for us regarding this narrative." %></h3>
    <%= f.input :comment, as: :text, size: "24x6" %>
  </div>
  <br><br>

  <%= f.submit "Save and continue" %>
  
<% end %>
