<div class="ui-corner-all custom-corners">
  <div class="ui-bar ui-bar-a">
    <h3><%= t '.title' %></h3>
  </div>
  <div class="ui-body ui-body-a">
    <p>
      <%= t '.instructions' %>
    </p>
  </div>
</div>
<br>
<%= simple_form_for @reaction, :url => { :controller => "experiences", :action => "react" }, :method => :get do |f| %>
  <%= f.hidden_field( :id ) %>
  <%= f.hidden_field( :narrative_id ) %>
  <% if @reaction.errors.any? && @reaction.errors[:behavior ].size > 0 %>
    <p class='error'><%= @reaction.errors[ :behavior ].first %></p>
  <% end %>
  <div class="ui-corner-all custom-corners">
    <div class="ui-bar ui-bar-a">
      <h3><%= t '.dom_behavior' %></h3>
    </div>
    <div class="ui-body ui-body-a">
      <%= f.association :behavior, :collection => Behavior.all, :as => :radio_buttons, label: false, :error => false %>
      <% if @reaction.errors.any? && @reaction.errors[ :other_name ].size > 0 %>
        <div id="other_name_panel">
          <p class='error'><%= @reaction.errors[ :other_name ].first %></p>
        <% else %>
          <div id="other_name_panel">
          <% end %>
          <%= f.input :other_name, label: t( 'experiences.next.other') %><br>
        </div>
      </div>
    </div>
    <div>
      <div class="ui-bar ui-bar-a" >
        <h3><%= t '.improve' %></h3>
      </div>
      <%= f.input :improvements, as: :text, size: "24x6", label: t( '.suggest' ) %>
    </div>
    <div id="final_submit_panel" >
      <%= f.submit t :submit %>
    </div>
  <% end %>
