<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#details" data-ajax="false">Details</a></li>
      <li><a href="#summary" data-ajax="false">Response Summary</a></li>
      <li><a href="#responses" data-ajax="false">Response Data</a></li>
    </ul>
  </div>
  <div id="details" class="ui-body-<%= theme_code %> ui-content">
    <h2>Experience Details</h2>
    <p>
      <strong>Name:</strong>
      <%= @experience.name %>
      (<% if @experience.active %>
        Active
  <% else %>
        <span class="error">Inactive</span>
      <% end %>)
    </p>
    <p>
      <strong>Course:</strong>
      <%= @experience.course.name %>
    </p>
    <p>
      <strong>Dates:</strong>
      <%= @experience.start_date %> to
  <%= @experience.start_date %>
    </p>
    <%= link_to 'Edit experience details', edit_experience_path(@experience) %>
  </div>
  <div id="summary" class="ui-body-<%= theme_code %> ui-content">
    <h2>Student Response Summary</h2>
    <%= @experience.reactions.count %> of <%= @experience.course.enrolled_students.count %> students have completed the experience.
      
    <table width="90%" data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
        <tr>
          <th>Family Name</th>
          <th>Given Name</th>
          <th data-priority="1">Email</th>
          <th>Status</th>
          <th data-priority="1">Scenario</th>
          <th data-priority="1">Narrative</th>
          <th>Overall Diagnosis</th>
          <th data-priority="0">Reaction Suggestions</th>
          <tr>
          </thead>
          <tbody>
            <% @experience.course.enrolled_students.each do |student| %>
              <tr><% reaction = @experience.get_user_reaction( student ) %>
                <td><%= student.last_name.nil? ? "[not given]" : student.last_name %></td>
                <td><%= student.first_name.nil? ? "[not given]" : student.first_name %></td>
                <td><%= mail_to student.email %></td>
                <% if reaction.behavior.present? #completed %>
                  <td>Completed</td>
                  <td><%= reaction.narrative.scenario.behavior.name %></td>
                  <td><%= reaction.narrative.member %></td>
                  <td><span class="<%= reaction.behavior == reaction.narrative.scenario.behavior ? "connected" : "disconnect" %>"%><%= reaction.behavior.name %></span></td>
                  <td>
                    <% if reaction.improvements.blank? %>
                      N/A
          <% else %>
                      <a href="#imp_<%= reaction.id %>" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="popup" data-position-to="origin">Improvements</a>
                    <% end %>
                  </td>
                <% elsif reaction.next_week.nil? #all but the conclusions %>
                  <td>97%</td>
                  <td><%= reaction.narrative.scenario.behavior.name %></td>
                  <td><%= reaction.narrative.member %></td>
                  <td>Not Completed</td>
                  <td>Not Completed</td>
                <% elsif reaction.status == "Not started" %>
                  <td>0%</td>
                  <td>Not Started</td>
                  <td>Not Started</td>
                  <td>Not Started</td>
                  <td>Not Started</td>
                <% else #in progress %>
                  <td><%= reaction.status %></td>
                  <td><%= reaction.narrative.scenario.behavior.name %></td>
                  <td><%= reaction.narrative.member %></td>
                  <td>N/A</td>
                <% end %>
                <tr>
                <% end %>
              </tbody>
            </table>
            <% @experience.course.enrolled_students.each do |student| %>
              <% reaction = @experience.get_user_reaction( student ) %>
              <div data-role="popup" id="imp_<%= reaction.id %>" class="ui-content" data-theme="<%= theme_code %>">
                <p><%= simple_format(reaction.improvements) %></p>
              </div>
            <% end %>
          </div>
          <div id="responses" class="ui-body-<%= theme_code %> ui-content">
            <h2>Student Response Data</h2>
            <p>Coming soon!</p>
          </div>
          <%= link_to 'Back to course', @experience.course %>
