<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @experience.name %> (<%= @experience.active ? "Active" : "Inactive" %>)
</p>

<p>
  <strong>Course:</strong>
  <%= @experience.course.name %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @experience.start_date %> to
  <%= @experience.start_date %>
</p>



<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back to course', @experience.course %>
