<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
      <li><a href="#summary" data-ajax="false"><%= t :resp_summ %></a></li>
      <li><a href="#responses" data-ajax="false"><%= t :resp_data %></a></li>
    </ul>
  </div>
  <div id="details" class="ui-body-<%= theme_code %> ui-content">
    <h2><%= t '.title' %></h2>
    <p>
      <h3><%= t :name %>:</h3>
      <%= @experience.get_name( anonymize ) %>
      (<% if @experience.active %>
        <%= t :active %>
      <% else %>
        <span class="error"><%= t :inactive %></span> &mdash;
        <%= link_to t(:activate ), activate_experience_path( @experience ) %>
      <% end %>)
    </p>
    <p>
      <h3><%= t :course %>:</h3>
      <%= @experience.course.get_name( anonymize ) %>
    </p>
    <p>
      <h3><%= t :dates %>:</h3>
      <%= l in_tz( date: @experience.start_date ), format: :short_date %> to
  <%= l in_tz( date: @experience.end_date ), format: :short_date %></br>
    <em><%= t :note %>: <%= t 'experiences.tz_warn', time_zone: @experience.course.timezone %></em>
  </p>
  <%= link_to 'Edit experience details', edit_experience_path(@experience) %>
</div>
<div id="summary" class="ui-body-<%= theme_code %> ui-content">
  <h2>Student Response Summary</h2>
  <%= @experience.reactions.count %> of <%= @experience.course.enrolled_students.count %> students have completed the experience.
      
    
  
  <table width="90%" data-role="table"
          id="responsesTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
    <thead>
      <tr>
        <th><%= t :family_name %></th>
        <th><%= t :given_name %></th>
        <th data-priority="1"><%= t :email %></th>
        <th><%= t :status %></th>
        <th data-priority="1"><%= t 'experiences.scenario_lbl' %></th>
        <th data-priority="1"><%= t 'experiences.narrative_lbl' %></th>
        <th><%= t 'experiences.overall_diagnosis' %></th>
        <th data-priority="0"><%= t 'experiences.reaction_suggestions' %></th>
        <tr>
        </thead>
        <tbody>
          <% @experience.course.enrolled_students.each do |student| %>
            <tr><% reaction = @experience.get_user_reaction( student ) %>
              <% if anonymize %>
                <td><%= student.anon_last_name %></td>
                <td><%= student.anon_first_name %></td>
                <td><%= t :email_redacted %></td>
              <% else %>
                <td><%= student.last_name.nil? ? t( :not_given ): student.last_name %></td>
                <td><%= student.first_name.nil? ? t( :not_given ) : student.first_name %></td>
                <td><%= mail_to student.email %></td>
              <% end %>
              <% if reaction.behavior.present? #completed %>
                <td>Completed</td>
                <td><%= reaction.narrative.scenario.behavior.name %></td>
                <td><%= reaction.narrative.member %></td>
                <td><span class="<%= reaction.behavior == reaction.narrative.scenario.behavior ? "connected" : "disconnect" %>"%><%= reaction.behavior.name %></span></td>
                <td>
                  <% if reaction.improvements.blank? %>
                    <%= t :n_a %>
                  <% else %>
                    <a href="#imp_<%= reaction.id %>"
                        class="ui-btn ui-corner-all ui-shadow ui-btn-inline"
                        data-rel="popup"
                        data-position-to="origin"><%= t 'experiences.improvements' %></a>
                  <% end %>
                </td>
              <% elsif reaction.next_week.nil? #all but the conclusions %>
                <td>97%</td>
                <td><%= reaction.narrative.scenario.behavior.name %></td>
                <td><%= reaction.narrative.member %></td>
                <td><%= t 'experiences.not_completed' %></td>
                <td><%= t 'experiences.not_completed' %></td>
              <% elsif reaction.status == '0%' %>
                <td>0%</td>
                <td><%= t 'experiences.not_started' %></td>
                <td><%= t 'experiences.not_started' %></td>
                <td><%= t 'experiences.not_started' %></td>
                <td><%= t 'experiences.not_started' %></td>
              <% else #in progress %>
                <td><%= reaction.status %>%</td>
                <td><%= reaction.narrative.scenario.behavior.name %></td>
                <td><%= reaction.narrative.member %></td>
                <td><%= t :n_a %></td>
              <% end %>
              <tr>
              <% end %>
            </tbody>
          </table>
          <% @experience.course.enrolled_students.each do |student| %>
            <% reaction = @experience.get_user_reaction( student ) %>
            <div data-role="popup" id="imp_<%= reaction.id %>" class="ui-content" data-theme="<%= theme_code %>">
              <p><%= simple_format(reaction.improvements) %></p>
            </div>
          <% end %>
        </div>
        <div id="responses" class="ui-body-<%= theme_code %> ui-content">
          <h2><%= t :resp_data %></h2>
          <p><%= t :coming_soon %></p>
        </div>
        <%= link_to t( :back_to_course ), @experience.course %>
