<%= simple_form_for @concept do |f| %>
  <%= f.error_notification %>
  <% theme_code = get_theme_code
     anonymize = get_anonymous %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
        <li><a href="#games" data-ajax="false"><%= t 'courses.games' %></a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'concepts.show.title' %></h2>
      <div class="form-inputs">
        <%= f.input :name %>
      </div>
    </div>
    <div id="games" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'concepts.courses' %></h2>
      <p>
        <h3><%= t 'concepts.games' %></h3>
        <% if @concept.bingo_games.count < 1 %>
          <%= t 'concepts.no_games' %></br>
      <% else %>
        <table data-role="table"
          id="course_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
          <thead>
            <tr>
              <th><%= t 'bingo_games.topic' %></th>
              <th><%= t :name %></th>
              <th><%= t :number %></th>
              <th data-priority="0"><%= t :start_date %></th>
              <th data-priority="0"><%= t :end_date %></th>
              <th data-priority="1"><%= t :actions %></th>
            </tr>
          </thead>
          <tbody>
            <% @concept.bingo_games.uniq.each do |game| %>
              <tr>
                <td><%= link_to game.topic, game %></td>
                <td><%= game.course.get_name( anonymize ) %></td>
                <td><%= game.course.get_number( anonymize ) %></td>
                <td><%= game.course.start_date %></td>
                <td><%= game.course.end_date %></td>
                <td><%= link_to t(:show), game %>&nbsp;|&nbsp;
                <%= link_to t(:edit), edit_bingo_game_path(game) %>&nbsp;|&nbsp;
                <%= link_to t(:destroy), game, method: :delete, data: { confirm: t(:confirmation) } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </p>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
