<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
   anonymize = @current_user.anonymize? %>
<%= page_entries_info @concepts %>
<%= paginate @concepts %>
<table data-role="table"
  id="basicTable"
  data-column-btn-theme"<%= theme_code %>" 
  data-column-popup-theme="<%= theme_code %>" 
  data-mode="columntoggle"
  data-column-btn-theme="<%= theme_code %>"
  data-column-btn-text="<%= t :column_select %>"
  class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th data-priority="0"><%= t 'concepts.use_count' %></th>
      <th data-priority="0"><%= t 'concepts.courses' %></th>
      <th data-priority="0"><%= t 'concepts.games' %></th>
      <th data-priority="1"><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @concepts.each do |concept| %>
      <tr>
        <td><%= link_to concept.name, concept %></td>
        <td><%= concept.candidates.count %></td>
        <td><%= concept.courses.uniq.count %></td>
        <td><%= concept.bingo_games.uniq.count %></td>
        <td><%= link_to t(:show), concept_path( concept ) %>&nbsp;|&nbsp;
        <%= link_to t(:edit), edit_concept_path(concept) %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @concepts %>
<br>
<%= link_to t('concepts.new.title'), new_concept_path %>
