<h1><%= t '.opening' %></h1>
<h2><%= t '.title' %></h2>
<P>
  <%= raw t ('.instructions') %>
</p>
<P><%= raw @consent_log.consent_form.form_text %></p>
<p><%= link_to t( '.consent_dl' ), @consent_log.consent_form.pdf.url %></p>
<%= simple_form_for @consent_log do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :presented, :value => true %>
  <%= f.hidden_field :consent_form_id %>
  <%= f.input :accepted %></br>
  <%= f.submit t '.submit_response' %>
<% end %>
