<%= simple_form_for @school do |f| %>
  <%= f.error_notification %>
  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
     anonymize = @current_user.anonymize? %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false">Details</a></li>
        <li><a href="#courses" data-ajax="false">Courses</a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2>School Details</h2>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :description, as: :text %>
      </div>
    </div>
    <div id="courses" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'schools.courses' %></h2>
<p>
  <h3>Courses</h3>
  <% if @school.courses.count < 1 %>
    <%= t 'schools.no_courses' %></br>
  <% else %>
    <table data-role="table"
          id="course_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th data-priority="1"><%= t :instructors %></th>
        <th data-priority="0"><%= t :students %></th>
        <th data-priority="1"><%= t :projects %></th>
        <th data-priority="1"><%= t :experiences %></th>
        <th data-priority="1"><%= t :terms_lists %></th>
        <th data-priority="0"><%= t :start_date %></th>
        <th data-priority="0"><%= t :end_date %></th>
        <th data-priority="1"><%= t :actions %></th>
      </tr>
      </thead>
      <tbody>
          <% @school.courses.each do |course| %>
            <tr>
                <td><%= link_to course.get_name( anonymize ), course %></td>
                <td><%= course.number %></td>
                <td><%= course.instructors.count %></td>
                <td><%= course.enrolled_students.count %></td>
                <td><%= course.projects.count %></td>
                <td><%= course.experiences.count %></td>
                <td><%= course.bingo_games.count %></td>
                <td><%= course.start_date.strftime( "%a, %b %-d at %-l:%M%P %Z") %></td>
                <td><%= course.end_date.strftime( "%a, %b %-d at %-l:%M%P %Z") %></td>
                <td><%= link_to t(:show), course %>&nbsp;|&nbsp;
                <%= link_to t(:edit), edit_course_path(course) %>&nbsp;|&nbsp;
                <%= link_to t(:destroy), course, method: :delete, data: { confirm: t(:confirmation) } %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to t( "courses.new.title"), new_course_path( :school_id => @school.id ),
      :data => { :icon => "plus", :inline => "true",:mini => "true",  :role => "button" }%>
</p>
</div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
