<%= simple_form_for @school do |f| %>
  <%= f.error_notification %>
  <% theme_code = get_theme_code
     anonymize = get_anonymous %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
        <li><a href="#courses" data-ajax="false"><%= t 'courses.courses' %></a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'schools.show.title' %></h2>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :description, as: :text %>
      </div>
    </div>
    <div id="courses" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'schools.courses' %></h2>
      <p>
        <h3><%= t 'courses.courses' %></h3>
        <% if @school.courses.count < 1 %>
          <%= t 'schools.no_courses' %></br>
      <% else %>
        <table data-role="table"
          id="course_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
          <thead>
            <tr>
              <th><%= t :name %></th>
              <th><%= t :number %></th>
              <th data-priority="1"><%= t :instructors %></th>
              <th data-priority="0"><%= t :students %></th>
              <th data-priority="1"><%= t 'projects.projects' %></th>
              <th data-priority="1"><%= t :exps %></th>
              <th data-priority="1"><%= t :terms_lists %></th>
              <th data-priority="0"><%= t :start_date %></th>
              <th data-priority="0"><%= t :end_date %></th>
              <th data-priority="1"><%= t :actions %></th>
            </tr>
          </thead>
          <tbody>
            <% @school.courses.each do |course| %>
              <tr>
                <td><%= link_to course.get_name( anonymize ), course %></td>
                <td><%= course.number %></td>
                <td><%= course.instructors.count %></td>
                <td><%= course.enrolled_students.count %></td>
                <td><%= course.projects.count %></td>
                <td><%= course.experiences.count %></td>
                <td><%= course.bingo_games.count %></td>
                <td>
                  <div hidden>
                    <%= l in_tz( date: course.start_date ), format: :datestamp %>
                  </div>
                  <%= l course.start_date, format: :tz_clarity %>
                </td>
                <td>
                  <div hidden>
                    <%= l in_tz( date: course.end_date ), format: :datestamp %>
                  </div>
                  <%= l course.end_date, format: :tz_clarity %>
                </td>
                <td><%= link_to t(:show), course %>&nbsp;|&nbsp;
                  <%= link_to t(:edit), edit_course_path(course) %>&nbsp;|&nbsp;
                  <%= link_to t(:destroy), course, method: :delete, data: { confirm: t(:confirmation) } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <%= link_to t( "courses.new.title"), new_course_path( :school_id => @school.id ),
      :data => { :icon => "plus", :inline => "true",:mini => "true",  :role => "button" }%>
    </p>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
