<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
   anonymize = @current_user.anonymize? %>
<table data-role="table"
  id="basicTable"
  data-column-btn-theme"<%= theme_code %>" 
  data-column-popup-theme="<%= theme_code %>" 
  data-mode="columntoggle"
  data-column-btn-theme="<%= theme_code %>"
  data-column-btn-text="<%= t :column_select %>"
  class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th data-priority="0"><%= t 'courses.courses' %></th>
      <th data-priority="1"><%= t :instructors %></th>
      <th data-priority="0"><%= t :students %></th>
      <th data-priority="1"><%= t 'projects.projects' %></th>
      <th data-priority="1"><%= t :exps %></th>
      <th data-priority="1"><%= t :terms_lists %></th>
      <th data-priority="1"><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.get_name( anonymize ), school %></td>
        <td><%= school.courses.count %></td>
        <td><%= school.instructors.count %></td>
        <td><%= school.enrolled_students.count %></td>
        <td><%= school.projects.count %></td>
        <td><%= school.experiences.count %></td>
        <td><%= school.bingo_games.count %></td>
        <td><%= link_to t(:show), school_path( school ) %>&nbsp;|&nbsp;
        <%= link_to t(:edit), edit_school_path(school) %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to t('schools.new.title'), new_school_path %>
