<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<table data-role="table"
  id="basicTable"
  data-column-btn-theme"<%= theme_code %>" 
  data-column-popup-theme="<%= theme_code %>" 
  data-mode="columntoggle"
  data-column-btn-theme="<%= theme_code %>"
  data-column-btn-text="Select columns&hellip;"
  class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th>Name</th>
      <th data-priority="0">Courses</th>
      <th data-priority="1">Instructors</th>
      <th data-priority="0">Students</th>
      <th data-priority="1">Projects</th>
      <th data-priority="1">Experiences</th>
      <th data-priority="1">Terms Lists</th>
      <th data-priority="1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, school %></td>
        <td><%= school.courses.count %></td>
        <td><%= school.instructors.count %></td>
        <td><%= school.enrolled_students.count %></td>
        <td><%= school.projects.count %></td>
        <td><%= school.experiences.count %></td>
        <td><%= school.bingo_games.count %></td>
        <td><%= link_to 'Show', school_path( school ) %>&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_school_path(school) %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New School', new_school_path %>
