<p id="notice"><%= notice %></p>

<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#details" data-ajax="false">Details</a></li>
      <li><a href="#courses" data-ajax="false">Courses</a></li>
    </ul>
  </div>
  <div id="details" class="ui-body-<%= theme_code %> ui-content">
    <h3>School Details</h3>
    <p>
      <h3>Name:</h3>
      <%= @school.name %>
    </p>

    <p>
      <h3>Description:</h3>
      <%= @school.description %>
    </p>
    <%= link_to 'Edit school details', edit_school_path(@school) %>
  </div>
  <div id="courses" class="ui-body-<%= theme_code %> ui-content">

<p>
  <h3>Courses</h3>
  <% if @school.bingo_games.count < 1 %>
    No courses.</br>
  <% else %>
    <table data-role="table"
          id="course_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="Show/hide columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th data-priority="1">Instructors</th>
        <th data-priority="0">Students</th>
        <th data-priority="1">Projects</th>
        <th data-priority="1">Experiences</th>
        <th data-priority="1">Terms Lists</th>
        <th data-priority="0">Start Date</th>
        <th data-priority="0">End Date</th>
        <th data-priority="1">Actions</th>
      </tr>
      </thead>
      <tbody>
          <% @school.courses.each do |course| %>
            <tr>
                <td><%= link_to course.name, course %></td>
                <td><%= course.number %></td>
                <td><%= course.instructors.count %></td>
                <td><%= course.enrolled_students.count %></td>
                <td><%= course.projects.count %></td>
                <td><%= course.experiences.count %></td>
                <td><%= course.bingo_games.count %></td>
                <td><%= course.start_date.strftime( "%a, %b %-d at %-l:%M%P %Z") %></td>
                <td><%= course.end_date.strftime( "%a, %b %-d at %-l:%M%P %Z") %></td>
                <td><%= link_to 'Show', course %>&nbsp;|&nbsp;
                <%= link_to 'Edit', edit_course_path(course) %>&nbsp;|&nbsp;
                <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to "New Course", new_course_path( :school_id => @school.id ),
      :data => { :icon => "plus", :inline => "true",:mini => "true",  :role => "button" }%>
</p>
  </div>
</div>


<%= link_to 'Back to the list of schools', schools_path %>
