  <% theme_code = get_theme_code
     anonymize = false %>
<table>
  <tr>
    <th align="right"><%= t 'bingo_games.topic' %>:</th>
    <td><%= @candidate_list.bingo_game.get_topic( anonymize ) %></td>
  </tr>
  <tr>
    <th align="right"><%= t 'bingo_games.date' %>:</th>
    <td><%= l @candidate_list.bingo_game.end_date, format: :tz_clarity %>
    </tr>
  </table>
  <h2><%= t 'candidate_lists.terms' %></h2>
  <table id="concept_table" width="100%"
        class="table-stroke-ui ui-shadow table-stripe table-ui-responsive" >
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="30%"><%= t 'bingo_games.term' %></th>
      </tr>
    </thead>
    <tbody>
      <% @candidate_list.bingo_game.concepts.uniq.each_with_index do |concept,index| %>
        <tr id="concept">
          <td><%= index %></td>
          <td id="term"><%= concept.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
