  <% theme_code = get_theme_code
     anonymize = false %>
<table>
  <tr>
    <th align="right"><%= t 'bingo_games.topic' %>:</th>
    <td><%= @candidate_list.bingo_game.get_topic( anonymize ) %></td>
  </tr>
  <tr>
    <th align="right"><%= t 'bingo_games.date' %>:</th>
    <td><%= l @candidate_list.bingo_game.end_date, format: :tz_clarity %></td>
    </tr>
    <th align="right"><%= t 'bingo_games.your_score' %>:</th>
    <td><span id='performance'><%= @candidate_list.performance %></span></td>
    </tr>
  </table>
  <h2><%= t 'candidate_lists.terms' %></h2>
  <% if -42 == @candidate_list.bingo_game_id %>
    <%= react_component "BingoBuilder", {
    endDateStr: @candidate_list.bingo_game.end_date,
    conceptsUrl: bingo_concepts_demo_path( -42 ),
    boardUrl: board_for_game_demo_path( -42 ),
    boardSaveUrl: update_board_demo_path( -42 ),
    worksheetUrl: worksheet_for_bingo_demo_path,
    token: form_authenticity_token } %>
  <% elsif %>
    <%= react_component "BingoBuilder", {
    endDateStr: @candidate_list.bingo_game.end_date,
    conceptsUrl: bingo_concepts_path( @candidate_list.bingo_game_id ),
    boardUrl: board_for_game_path( @candidate_list.bingo_game_id ),
    boardSaveUrl: update_board_path( @candidate_list.bingo_game_id ),
    worksheetUrl: worksheet_for_bingo_path( @candidate_list.bingo_game_id ),
    token: form_authenticity_token } %>
  <% end %>
  <br>
