<%= simple_form_for @course do |f| %>
  <%= f.error_notification %>
  <% theme_code = get_theme_code
     anonymize = get_anonymous %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
        <li><a href="#participants" data-ajax="false"><%= t 'courses.participants' %></a></li>
        <li><a href="#activities" data-ajax="false"><%= t 'courses.activities' %></a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'courses.show.title' %></h2>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :number %>
        <%= f.association :school %>
        <%= f.time_zone_select :timezone %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.input :description, as: :text %>
      </div>
    </div>
    <div id="participants" class="ui-body-<%= theme_code %> ui-content">
      <h2>Rosters</h2>
      <% @course.rosters.students.each do |roster| %>
        <%= roster.user.name( anonymize ) %>
        <i><%= mail_to roster.user.email unless anonymize %></i>
        (<%= t roster.role.humanize %> )<br>
      <% end %>
        <table data-role="table"
          id="basicTable"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="Show/hide columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">

    <thead>
    <tr>
      <th ><%= t :family_name %></th>
      <th data-priority="0"><%= t :given_name %></th>
      <th data-priority="1"><%= t :email %></th>
      <th data-priority="0"><%= t 'devise.bingo_performance' %></th>
      <th data-priority="0"><%= t 'devise.experience_performance' %></th>
      <th data-priority="0"><%= t 'devise.assessment_performance' %></th>
      <th ><%= t :status %></th>
      <th data-priority="1"><%= t :actions %></th>
    </tr>
    </thead>
    <tbody>
      <% @course.rosters.students.each do |roster| %>
      <tr>
        <td>
          <% if anonymize %>
            <%= roster.user.anon_last_name %>
          <% else %>
            <%= roster.user.last_name.blank? ? t( :not_given ) : roster.user.last_name %>
          <% end %>
        </td>
        <td>
          <% if anonymize %>
            <%= roster.user.anon_first_name %>
          <% else %>
            <%= roster.user.first_name.blank? ? t( :not_given ) : roster.user.first_name %>
          <% end %>
        </td>
        <td>
          <%= mail_to roster.user.email unless anonymize %>
        </td>
        <td>
          <%= roster.user.get_bingo_performance( course_id: @course.id) %>%
        </td>
        <td>
          <%= roster.user.get_experience_performance( course_id: @course.id) %>%
        </td>
        <td>
          <%= roster.user.get_assessment_performance( course_id: @course.id) %>%
        </td>
        <td>
          <%= t roster.role.humanize %>
        </td>
        <td><%= link_to( t( 'courses.re_invite' ),
              re_invite_student_path( roster.user ) ) unless roster.enrolled_student? %>&nbsp;|&nbsp;
        <%= link_to t( 'courses.drop' ), drop_student_path( roster.id ) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
  <div id="activities" class="ui-body-<%= theme_code %> ui-content">
    <h2><%= t 'courses.activities' %></h2>
<p>
  <h3><%= t 'courses.activities' %></h3>
    <table data-role="table"
          id="bingo_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
      <tr>
        <th><%= t :name %></th>
        <th data-priority="1"><%= t :status %></th>
        <th data-priority="0"><%= t :task_type %></th>
        <th data-priority="1"><%= t :close_date %></th>
        <th data-priority="0"><%= t :actions %></th>
      </tr>
      </thead>
      <tbody>
          <% @course.get_activities.each do |activity| %>
            <tr>
                <td><%= link_to activity.get_name( anonymize ), activity %></td>
                <td>
                <% if activity.end_date < DateTime.current %>
                <%= t :expired %>
                <% elsif activity.active %>
                <%= t :active %>
                <% else %>
                <span class="error"><%= t :inactive %></span>
                <% end %></td>
                <td>
                  <%= activity.get_type %>
                </td>
                <td>
                  <div hidden>
                    <%= l in_tz( date: activity.end_date ), format: :datestamp %>
                  </div>
                  <%= l in_tz( date: activity.end_date ), format: :tz_clarity %>
                </td>
                <td><%= link_to t( :show ), activity %>&nbsp;|&nbsp;
                <%= link_to t( :edit ), [:edit, activity] %>&nbsp;|&nbsp;
                <%= link_to t( :destroy ), activity, method: :delete, data: { confirm: t( :confirmation) } %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <table width='100%'>
    <tr>
      <td>
        <center>
          <%= link_to t( 'bingo_games.new.title' ), new_bingo_game_path( :course_id => @course.id ),
                      :data => { 
                        :icon => "plus", 
                        :inline => "true", 
                        :mini => "true", 
                        :role => "button" } %>
        </center>
      </td>
      <td>
        <center>
          <%= link_to t( 'projects.new.title'), new_project_path( :course_id => @course.id ),
                      :data => { 
                        :icon => "plus", 
                        :inline => "true", 
                        :mini => "true", 
                        :role => "button" } %>
        </center>
      </td>
      <td>
        <center>
          <%= link_to t( 'experiences.new.title' ), new_experience_path( :course_id => @course.id ),
                      :data => { 
                        :icon => "plus", 
                        :inline => "true", 
                        :mini => "true", 
                        :role => "button" } %>
        </center>
      </td>
    </tr>
  </table>
</p>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
