<%= simple_form_for @course do |f| %>
  <%= f.error_notification %>
  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
     anonymize = @current_user.anonymize? %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
        <li><a href="#participants" data-ajax="false"><%= t 'courses.participants %></a></li>
        <li><a href="#activities" data-ajax="false"><%= t 'courses.activities %></a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'courses.show.title' %></h2>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :number %>
        <%= f.association :school %>
        <%= f.time_zone_select :timezone %>
        <%= f.input :start_date, as: :date_time_local %>
        <%= f.input :end_date, as: :date_time_local %>
        <%= f.input :description, as: :text %>
      </div>
    </div>
    <div id="participants" class="ui-body-<%= theme_code %> ui-content">
      <h2>Rosters</h2>
      <% @course.rosters.students.each do |roster| %>
        <%= roster.user.name( anonymize ) %> <i><%= mail_to roster.user.email unless anonymize %></i> (<%= roster.role.name %> )<br>
      <% end %>
        <table data-role="table"
          id="basicTable"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="Show/hide columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">

    <thead>
    <tr>
      <th ><%= t :family_name %></th>
      <th data-priority="0"><%= t :given_name %></th>
      <th data-priority="1"><%= t :email %></th>
      <th ><%= t :status %></th>
      <th data-priority="1"><%= t :actions %></th>
    </tr>
    </thead>
    <tbody>
      <% @course.rosters.students.each do |roster| %>
      <tr>
        <td>
          <% if anonymize %>
            <%= roster.user.anon_last_name %>
          <% else %>
            <%= roster.user.last_name.blank? ? t( :not_given ) : roster.user.last_name %>
          <% end %>
        </td>
        <td>
          <% if anonymize %>
            <%= roster.user.anon_first_name %>
          <% else %>
            <%= roster.user.first_name.blank? ? t( :not_given ) : roster.user.first_name %>
          <% end %>
        </td>
        <td>
          <%= mail_to roster.user.email unless anonymize %>
        </td>
        <td>
          <%= roster.role.name %>
        </td>
        <td><%= link_to( t( 'courses.re_invite' ),
              re_invite_student_path( roster.user ) ) unless roster.role.code == 'enr' %>&nbsp;|&nbsp;
        <%= link_to t( 'courses.drop' ), drop_student_path( roster.id ) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    </div>
    <div id="activities" class="ui-body-<%= theme_code %> ui-content">
      <h2><%= t 'courses.activities' %></h2>
<p>
  <h3><%= t 'bingo_games.index.title' %></h3>
  <% if @course.bingo_games.count < 1 %>
    <%= t 'bingo_games.no_games' %><br>
  <% else %>
    <table data-role="table"
          id="bingo_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
      <tr>
        <th><%= t :name %></th>
        <th data-priority="1"><%= t :status %></th>
        <th data-priority="1"><%= t :close_date %></th>
        <th data-priority="0"><%= t :actions %></th>
      </tr>
      </thead>
      <tbody>
          <% @course.bingo_games.each do |game| %>
            <tr>
                <td><%= link_to game.get_name( anonymize ), game %></td>
                <td>
                <% if game.active %>
                <%= t :active %>
                <% else %>
                <span class="error"><%= t :inactive %></span>
                <% end %></td>
                <td>
                  <%= l game.end_date.in_time_zone( @current_user.timezone ), format: :tz_clarity %>
                </td>
                <td><%= link_to t( :show ), game %>&nbsp;|&nbsp;
                <%= link_to( t( :activate ), activate_bingo_game_path( game ) ) + raw("&nbsp;|&nbsp;" ) unless game.active %>
                <%= link_to t( :edit ), edit_bingo_game_path(game) %>&nbsp;|&nbsp;
                <%= link_to t( :destroy ), game, method: :delete, data: { confirm: t( :confirmation )} %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to t( 'bingo_games.new.title' ), new_bingo_game_path( :course_id => @course.id ),
      :data => { :icon => "plus", :inline => "true",:mini => "true",  :role => "button" }%>
</p>
<p>
  </br></br>
  <h3><%= t 'projects.projects' %></h3>
  <% if @course.projects.count < 1 %>
    <%= t :no_projects %></br>
  <% else %>
    <table data-role="table"
          id="projects_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
        <tr>
          <th><%= t :name %></th>
          <th data-priority="1"><%= t :status %></th>
          <th data-priority="1"><%= t :close_date %></th>
          <th data-priority="0"><%= :actions %></th>
        </tr>
      </thead>
      <tbody>
          <% @course.projects.each do |project| %>
            <tr>
                <td><%= link_to project.get_name( anonymize ), project %></td>
                <td>
                <% if project.active %>
                <%= t :active %>
                <% else %>
                <span class="error"><%= t :inactive %></span>
                <% end %></td>
                <td>
                  <%= l project.end_date.in_time_zone( @current_user.timezone ), format: :tz_clarity %>
                </td>
                <td><%= link_to t( :show ), project %>&nbsp;|&nbsp;
                <%= link_to( t( :activate ), activate_project_path( project ) ) + raw("&nbsp;|&nbsp;" ) unless project.active %>
                <%= link_to t( :edit ), edit_project_path(project) %>&nbsp;|&nbsp;
                <%= link_to t( :destroy ), project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to t( 'projects.new.title' ), new_project_path( :course_id => @course.id ),
      :data => { :icon => "plus", :mini => "true", :inline => "true", :role => "button" }%>
</p>
<p>
  </br></br>
  <h3><%= t :exps %></h3>
  <% if @course.experiences.count < 1 %>
    <%= t 'experience.no_experiences' %><br>
  <% else %>
    <table data-role="table"
          id="experiences_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="Show/hide columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive " >
      <thead>
        <tr>
          <th><%= t :name %></th>
          <th data-priority="1"><%= t :status %></th>
          <th data-priority="1"><%= t :close_date %></th>
          <th data-priority="0"><%= t :actions %></th>
        </tr>
      </thead>
      <tbody>
          <% @course.experiences.each do |experience| %>
            <tr>
                <td><%= link_to experience.get_name( anonymize ), experience %></td>
                <td>
                <% if experience.active %>
                  <%= t :active %>
                <% else %>
                  <span class="error"><%= t :inactive %></span>
                <% end %>
                </td>
                <td>
                  <%= l experience.end_date.in_time_zone( @current_user.timezone ), format: :tz_clarity %>
                </td>
                <td><%= link_to t( :show ), experience %>&nbsp;|&nbsp;
                  <%= link_to( t( :activate ), activate_experience_path( experience ) ) + raw("&nbsp;|&nbsp;" ) unless experience.active %>
                  <%= link_to t( :edit ), edit_experience_path(experience) %>&nbsp;|&nbsp;
                  <%= link_to t( :destroy ),
                              experience,
                              method: :delete,
                              data: { confirm: t( :confirmation ) } %>
                </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to t( 'experience.new.title' ), new_experience_path( :course_id => @course.id ),
      :data => { :icon => "plus", :inline => "true", :mini => "true", :role => "button" }%>
</p>
</div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
