<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
   anonymize = @current_user.anonymize? %>
<table data-role="table"
  id="basicTable"
  data-column-btn-theme"<%= theme_code %>" 
  data-column-popup-theme="<%= theme_code %>" 
  data-mode="columntoggle"
  data-column-btn-theme="<%= theme_code %>"
  data-column-btn-text="<%= t :column_select %>"
  class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th><%= t :number %></th>
      <th><%= t :name %></th>
      <th data-priority="0"><%= t :school %></th>
      <th data-priority="1"><%= t :start_date %></th>
      <th data-priority="1"><%= t :end_date %></th>
      <th data-priority="1"><%= t :instructors %></th>
      <th ><%= t :students %></th>
      <th data-priority="1"><%= t :projects %></th>
      <th data-priority="1"><%= t :exps %></th>
      <th data-priority="1"><%= t :terms_lists %></th>
      <th><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.get_number( anonymize ) %></td>
        <td><%= link_to course.get_name( anonymize ), course %></td>
        <td><%= course.school.get_name( anonymize ) %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.rosters.instructorships.count %></td>
        <td><%= course.rosters.students.count %></td>
        <td><%= course.projects.count %></td>
        <td><%= course.experiences.count %></td>
        <td><%= course.bingo_games.count %></td>
        <td>
          <%= link_to t( :show ), course_path( course ) %>&nbsp;|&nbsp;
          <%= link_to t( :edit ), edit_course_path(course) %>&nbsp;|&nbsp;
          <%= link_to t( :destroy ),
                        course_path( course ),
                        method: :delete,
                        data: { confirm: t( :confirmation ) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t( 'courses.new.title' ), new_course_path %>
