<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
   anonymize = @current_user.anonymize? %>
<table data-role="table"
  id="basicTable"
  data-column-btn-theme"<%= theme_code %>" 
  data-column-popup-theme="<%= theme_code %>" 
  data-mode="columntoggle"
  data-column-btn-theme="<%= theme_code %>"
  data-column-btn-text="<%= t :column_select %>"
  class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th><%= t :number %></th>
      <th><%= t :name %></th>
      <th data-priority="0"><%= t :school %></th>
      <th data-priority="1"><%= t :start_date %></th>
      <th data-priority="1"><%= t :end_date %></th>
      <th data-priority="1"><%= t :instructors %></th>
      <th ><%= t :students %></th>
      <th data-priority="1"><%= t 'projects.projects' %></th>
      <th data-priority="1"><%= t :exps %></th>
      <th data-priority="1"><%= t :terms_lists %></th>
      <th><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.get_number( anonymize ) %></td>
        <td><%= link_to course.get_name( anonymize ), course %></td>
        <td><%= course.school.get_name( anonymize ) %></td>
        <td><%= l course.start_date, format: :tz_clarity %></td>
        <td><%= l course.end_date, format: :tz_clarity %></td>
        <td><%= course.rosters.instructor.count %></td>
        <td><%= course.rosters.students.count %></td>
        <td><%= course.projects.count %></td>
        <td><%= course.experiences.count %></td>
        <td><%= course.bingo_games.count %></td>
        <td>
          <%= link_to t( :show ), course_path( course ) %>&nbsp;|&nbsp;
          <%= link_to t( :edit ), edit_course_path(course) %>&nbsp;|&nbsp;
          <%= link_to t( :copy ), "#", onclick:
            "popCopyPop('#{course.number}', #{course.id},
            '#{course.start_date.strftime( '%Y-%m-%d' )}')" %>&nbsp;|&nbsp;
          <%= link_to t( :destroy ),
                        course_path( course ),
                        method: :delete,
                        data: { confirm: t( :confirmation ) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to( t( 'courses.new.title' ), new_course_path ) if @current_user.is_admin? %>

<div data-role="popup" id="copyPop" data-theme="<%= theme_code %>" class="ui-corner-all">
  <%= form_tag copy_course_path, method: :get do %>
    <div style="padding:10px 20px;">
      <h1><%= t '.copy_new_start' %><span id='number'></span></h1>
      <strong><%= t '.original_date' %>:</strong>
      <span id='orig_date'>REPLACE</span></br>
      </br>
      <label for='start_date'><%= t '.copy_new_start_lbl' %></label>
      <%= hidden_field_tag :id %>
      <%= date_field_tag :start_date %>
      <%= submit_tag :copy_course, value: raw( t '.submit_copy' ) %>
    </div>
  <% end %>
</div>
