<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<table data-role="table"
  id="basicTable"
  data-column-btn-theme"<%= theme_code %>" 
  data-column-popup-theme="<%= theme_code %>" 
  data-mode="columntoggle"
  data-column-btn-theme="<%= theme_code %>"
  data-column-btn-text="Select columns&hellip;"
  class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th data-priority="0">School</th>
      <th data-priority="1">Start Date</th>
      <th data-priority="1">End Date</th>
      <th data-priority="1">Instructors</th>
      <th >Students</th>
      <th data-priority="1">Projects</th>
      <th data-priority="1">Experiences</th>
      <th data-priority="1">Terms Lists</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.number %></td>
        <td><%= link_to course.name, course %></td>
        <td><%= course.school.name %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.rosters.instructorships.count %></td>
        <td><%= course.rosters.students.count %></td>
        <td><%= course.projects.count %></td>
        <td><%= course.experiences.count %></td>
        <td><%= course.bingo_games.count %></td>
        <td><%= link_to 'Show', course_path( course ) %>&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_course_path(course) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', course_path( course ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Course', new_course_path %>
