<p id="notice"><%= notice %></p>

<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#details" data-ajax="false"><%= t :details %></a></li>
      <li><a href="#students" data-ajax="false"><%= t :students %></a></li>
      <li><a href="#activities" data-ajax="false"><%= t :activities %></a></li>
      <li><a href="#month" data-ajax="false"><%= t :month_view %></a></li>
    </ul>
  </div>
  <div id="details" class="ui-body-<%= theme_code %> ui-content">
  <h3><%= t 'courses.show.title' %></h3>
<p>
  <h3><%= t :name %>:</h3>
  <%= @course.get_name( anonymize ) %>
</p>

<p>
  <h3><%= t :number %>:</h3>
  <%= @course.get_number( anonymize ) %>
</p>

<p>
  <h3><%= t :description %>:</h3>
  <%= raw( @course.description ) %>
</p>
<p>
  <h3><%= t :dates %>:</h3>
  <%= l in_tz( date: @course.start_date ), format: :short_date %>
  to <%= l in_tz( date: @course.end_date ), format: :short_date %>
</p>
<p>
  <h3><%= t '.instructors' %></h3>
  <% @course.rosters.instructor.includes(user: :emails).each do |roster| %>
    <%= roster.user.name( anonymize ) %> |
    <%= link_to t( :remove) , remove_instructor_path( roster ) %></br>
  <% end %>

</p>
<%= link_to t( 'courses.edit.title' ), edit_course_path(@course) %>
  </div>
  <div id="students" class="ui-body-<%= theme_code %> ui-content">
<p>
  <h3><%= t '.instructors' %></h3>
  <%= form_tag add_instructors_path, method: :get do %>
    <%= label_tag :addresses, t( '.add_instructor_lbl' ) %>
    <%= text_field_tag :addresses %>
    <%= hidden_field_tag :id, @course.id %>
    <%= submit_tag t( :add ) %>
  <% end %>
  <% @course.rosters.instructor.each do |roster| %>
    <%= roster.user.name( anonymize ) %></br>
  <% end %>

  <h3><%= t '.roster' %></h3>
  <%= form_tag add_students_path, method: :get do %>
    <%= label_tag :addresses, t( '.add_student_lbl' ) %>
    <%= text_field_tag :addresses %>
    <%= hidden_field_tag :id, @course.id %>
    <%= submit_tag t( :add ) %>
  <% end %>
  <% if @course.rosters.students.count > 0 %>
    <p>
      <%= t '.enrolled_count', count: @course.rosters.students.count %>
    </p>
        <table data-role="table"
          id="basicTable"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">

    <thead>
    <tr>
      <th ><%= t :family_name %></th>
      <th data-priority="0"><%= t :given_name %></th>
      <th data-priority="1"><%= t :email %></th>
      <th data-priority="0"><%= t 'devise.bingo_performance' %></th>
      <th data-priority="0"><%= t 'devise.experience_performance' %></th>
      <th data-priority="0"><%= t 'devise.assessment_performance' %></th>
      <th ><%= t :status %></th>
      <th data-priority="1"><%= t :actions %></th>
    </tr>
    </thead>
    <tbody>
      <% @course.rosters.students.includes( user: [:emails]).each do |roster| %>
      <tr>
        <td>
        <% if anonymize %>
          <%= roster.user.anon_last_name %>
        <% else %>
          <%= roster.user.last_name.blank? ? t( :not_given ) : roster.user.last_name %>
        <% end %>
        </td>
        <td>
        <% if anonymize %>
          <%= roster.user.anon_first_name %>
        <% else %>
          <%= roster.user.first_name.blank? ? t( :not_given ) : roster.user.first_name %>
        <% end %>
        </td>
        <td>
          <%= mail_to roster.user.email %>
        </td>
        <td>
          <%= roster.user.get_bingo_performance( course_id: @course.id) %>%
          <svg width="50" height="50"
            onload="init_me( this, <%= roster.user.get_bingo_data( course_id: @course.id ) %>);">
          </svg>
        </td>
        <td>
          <%= roster.user.get_experience_performance( course_id: @course.id) %>%
        </td>
        <td>
          <%= roster.user.get_assessment_performance( course_id: @course.id) %>%
        </td>
        <td>
          <%= t roster.role.humanize %>
        </td>
        <td><%= link_to( t( 'courses.re_invite' ),
        re_invite_student_path( roster.user ) ) unless roster.enrolled_student? %>&nbsp;|&nbsp;
        <%= link_to t( 'courses.drop' ), drop_student_path( roster.id ),
        data: { confirm: t( 'courses.drop_student_confirm') } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</p>
  </div>
  <div id="activities" class="ui-body-<%= theme_code %> ui-content">

<p>
  <h3><%= t 'courses.activities' %></h3>
    <table data-role="table"
          id="activities_table"
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>"
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
      <thead>
      <tr>
        <th><%= t :name %></th>
        <th data-priority="1"><%= t :status %></th>
        <th data-priority="0"><%= t :task_type %></th>
        <th data-priority="1"><%= t :close_date %></th>
        <th data-priority="0"><%= t :actions %></th>
      </tr>
      </thead>
      <tbody>
          <% @course.get_activities.each do |activity| %>
            <tr>
                <td><%= link_to activity.get_name( anonymize ), activity %></td>
                <td>
                <% if activity.end_date < DateTime.current %>
                <%= t :expired %>
                <% elsif activity.active %>
                <%= t :active %>
                <% else %>
                <span class="error"><%= t :inactive %></span>
                <% end %></td>
                <td>
                  <%= activity.get_type %>
                </td>
                <td>
                  <div hidden>
                    <%= l in_tz( date: activity.end_date ), format: :datestamp %>
                  </div>
                  <%= l in_tz( date: activity.end_date ), format: :tz_clarity %>
                </td>
                <td><%= link_to t( :show ), activity %>&nbsp;|&nbsp;
                <% unless activity.get_type == 'Terms List' %>
                  <%= link_to t( :edit ), [:edit, activity] %>&nbsp;|&nbsp;
                <% end %>
                <%= link_to t( :destroy ), activity, method: :delete, data: { confirm: t( :confirmation) } %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <table width='100%'>
    <tr>
      <td>
        <center>
          <%= link_to t( 'bingo_games.new.title' ), new_bingo_game_path( :course_id => @course.id ),
                      :data => { 
                        :icon => "plus", 
                        :inline => "true", 
                        :mini => "true", 
                        :role => "button" } %>
        </center>
      </td>
      <td>
        <center>
          <%= link_to t( 'projects.new.title'), new_project_path( :course_id => @course.id ),
                      :data => { 
                        :icon => "plus", 
                        :inline => "true", 
                        :mini => "true", 
                        :role => "button" } %>
        </center>
      </td>
      <td>
        <center>
          <%= link_to t( 'experiences.new.title' ), new_experience_path( :course_id => @course.id ),
                      :data => { 
                        :icon => "plus", 
                        :inline => "true", 
                        :mini => "true", 
                        :role => "button" } %>
        </center>
      </td>
    </tr>
  </table>
</p>
  </div>
  <div id="month" class="ui-body-<%= theme_code %> ui-content">
  <h3><%= t :month_view %></h3>
  <%= react_component "CourseCalendar", {
    dataUrl: course_cal_path( id: @course.id ),
    token: form_authenticity_token,
  } %>
    <% activities = @course.experiences + @course.bingo_games + @course.projects %>
    <%= month_calendar attribute: :get_activity_begin, end_attribute: :end_date, events: activities do |date,activities| %>
      <h4 style="font-weight:300;font-size:10px;text-align:center">
        <%= t('date.abbr_month_names')[date.month] %> <%= date.day %>
      </h4>
        <% activities.each do |activity| %>
        <div style="font-weight:300;font-size:12px">
        <%= link_to activity.get_activity_on_date( date: date, anon: anonymize ), activity %>
        </div><br>
        <% end %>
    <% end %>
    
  </div>
</div>


<%= link_to t( :back_to_courses ), courses_path %>
