<p id="notice"><%= notice %></p>

<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#details" data-ajax="false">Details</a></li>
      <li><a href="#students" data-ajax="false">Students</a></li>
      <li><a href="#activities" data-ajax="false">Activities</a></li>
    </ul>
  </div>
  <div id="details" class="ui-body-<%= theme_code %> ui-content">
  <h2>Course Details</h2>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Dates:</strong>
  <%= @course.start_date %> to
  <%= @course.end_date %>
</p>
<p>
  <strong>Course instructors</strong>
  <% @course.rosters.instructorships.each do |roster| %>
    <%= roster.user.name %><br>
  <% end %>

</p>
<%= link_to 'Edit course details', edit_course_path(@course) %>
  </div>
  <div id="students" class="ui-body-<%= theme_code %> ui-content">
<p>
  <h2>Student roster</h2>
  <%= form_tag add_students_path, method: :get do %>
    <%= label_tag :addresses, "Add users by email:" %>
    <%= text_field_tag :addresses %>
    <%= hidden_field_tag :id, @course.id %>
    <%= submit_tag "Add!" %>
  <% end %>
  <% if @course.rosters.students.count > 0 %>
  <table>
    <tr>
      <th>Student</th>
      <th>Email</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
      <% @course.rosters.students.each do |roster| %>
      <tr>
        <td>
          <%= roster.user.name %> (<%= roster.role.name %>)
        </td>
        <td>
          <%= roster.user.email %>
        </td>
        <td>
          <%= roster.role.name %>
        </td>
        <td>Show</td>
        <td>Edit</td>
        <td>Remove</td>
      </tr>
    <% end %>
  </table>
  <% end %>
</p>
  </div>
  <div id="activities" class="ui-body-<%= theme_code %> ui-content">

<p>
  <strong>Projects</strong>
  <%= link_to "Add Project", new_project_path( :course_id => @course.id )%>
  <% if @course.projects.count > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th colspan="3">Actions</th>
      </tr>
          <% @course.projects.each do |project| %>
            <tr>
                <td><%= project.name %></td>
                <td>
                <% if project.active %>
                Active
                <% else %>
                <span class="error">Inactive</span>
                <% end %></td>
                <td><%= link_to 'Show', project %></td>
                <td><%= link_to 'Edit', edit_project_path(project) %></td>
                <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
    </table>
  <% end %>
</p>
<p>
  <strong>Experiences</strong>
  <%= link_to "Add Experience", new_experience_path( :course_id => @course.id )%>
  <% if @course.experiences.count > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th colspan="3">Actions</th>
      </tr>
          <% @course.experiences.each do |experience| %>
            <tr>
                <td><%= experience.name %></td>
                <td>
                <% if experience.active %>
                Active
                <% else %>
                <span class="error">Inactive</span>
                <% end %></td>
                <td><%= link_to 'Show', experience %></td>
                <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
                <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
    </table>
  <% end %>
</p>
  </div>
</div>


<%= link_to 'Back to the list of courses', courses_path %>
