<div id="<%= dom_id rubric %>">
  <p>
    <strong>Name:</strong>
    <%= rubric.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rubric.description %>
  </p>

  <p>
    <strong>Passing:</strong>
    <%= rubric.passing %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= rubric.version %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= rubric.published %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= rubric.parent %>
  </p>

</div>
