<p>Please use the panels below to visualise the data available for your students.</p>
<!-- this styling is added to the png when it is downloaded -->
<div id='crowbar-workspace' style='display: none'>
</div>
<% if current_user.admin || current_user.is_researcher? %>
  <% theme_code = get_theme_code
     anonymize = get_anonymous %>
  <div class="ui-grid-a">
    <div class='ui-block-a'>
      <label for="for_research" style="align:right">Consenting users only?</label>
      <select name="for_research" id="for_research" data-role="slider"
              data-mini="true" <%= ( anonymize || current_user.is_researcher? ) ? 'disabled' : '' %> >
        <option value="true" <%= (current_user.is_researcher?) ?  'selected' : '' %> ><%= t 'simple_form.yes' %></option>
        <option value="false"<%= (!current_user.is_researcher?) ?  'selected' : '' %>><%= t 'simple_form.no' %></option>
      </select>
    </div>
    <div class='ui-block-b'>
      <label for="anonymous" style="align:right">Anonymize the results?</label>
      <select name="anonymous" id="anonymous" data-role="slider"
              data-mini="true" <%= ( anonymize || current_user.is_researcher? ) ? 'disabled' : '' %> >
        <option value="true" <%= (anonymize || current_user.is_researcher?) ? 'selected' : '' %> ><%= t 'simple_form.yes' %></option>
        <option value="false"<%= !(anonymize || current_user.is_researcher?) ? 'selected' : '' %>><%= t 'simple_form.no' %></option>
      </select>
    </div>
  </div>
<% end %>
<% GraphingController::Unit_Of_Analysis.each do |unit| %>
  <div name="<%= t unit[ 0 ] %>_panel" id="<%= unit[ 1 ] %>_panel" data-role="collapsible" data-mini="true" data-inset="false">
    <h3><%= t unit[ 0 ] %></h3>
    <%= form_tag do %>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <%= hidden_field_tag( :unit_of_analysis, unit[ 1 ] ) %>
          <%= hidden_field_tag( :local_chart,  "#{unit[ 0 ]}_graph" ) %>
          <%= label_tag(:assessment, t('.which')) %>
        </div>
        <div class="ui-block-b">
          <%= label_tag(:subject, t('.who' ))%>
        </div>
      </fieldset>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <% projects = current_users_projects.collect{ |project| [project.get_name( anonymize || current_user.is_researcher? ), project.id] }
	projects.insert( 0, [ t( :none_selected ), -1] ) %>
          <%= select_tag :project, 
            options_for_select( projects ) ,
            :class => "project_select",
            :data => {:mini => true} %>
        </div>
        <div class="ui-block-b">
          <%= select_tag :subject, options_for_select( [ [ t(:not_available), -1] ] ),
            :data => {:mini => true}, :class => "submitting_select" %>
        </div>
      </fieldset>
      <div id="graph_div"></div>
    <% end %>
  </div>
<% end %>
