<%= simple_form_for(@consent_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :user %>
    <%= f.input :pdf, as: :file %>
    <%= f.association :projects %>
    <%= f.input :form_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
