<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
<p id="notice"><%= notice %></p>
<h1><%= t 'consent_forms.show.name' %>:</h1>
<p><%= @consent_form.name %></p>
<h2><%= t 'consent_forms.show.lead_admin' %>:</h2>
<p><%= @consent_form.user.informal_name( false ) %></p>
<h2><%= t :active %>:</h2>
<p><%= @consent_form.active %></p>
<h2><%= t :dates %>:</h2>
<p>
  <%= raw( t( '.date_summ',
            start_date: @consent_form.start_date,
            end_date: @consent_form.end_date ) ) %>
</p>
<h2><%= t 'consent_forms.show.applicable_lbl' %>:</h2>
<% if @consent_form.projects.empty? %>
  <p><%= t 'consent_forms.show.applicable_txt' %></p>
<% else %>
  <ul>
    <% @consent_form.projects.each do |project|%>
      <li><%= project.course.pretty_name( false ) %> : 
      <%= project.get_name( false ) %></li>
    <% end %>
  </ul>
<% end %>
<div data-role="tabs" id="text-tab">
  <div data-role="navbar">
    <ul>
      <li>
        <a href="#english" data-ajax="false">
          <%= Language.where( code: 'en' ).take.name %>
        </a>
      </li>
      <li>
        <a href="#korean" data-ajax="false">
          <%= Language.where( code: 'ko' ).take.name %>
        </a>
      </li>
    </ul>
  </div>
  <div id="english" class="ui-body-<%= theme_code %> ui-content">
    <h1>
      <%= t 'consent_forms.show.form_text_lbl' %>
      (<%= Language.where( code: 'en' ).take.name %>)
    </h1>
    <p><%= raw @consent_form.form_text_en %></p>
  </div>
  <div id="korean" class="ui-body-<%= theme_code %> ui-content">
    <h1>
      <%= t 'consent_forms.show.form_text_lbl' %>
      (<%= Language.where( code: 'ko' ).take.name %>)
    </h1>
    <p><%= raw @consent_form.form_text_ko %></p>
  </div>
</div>
<br>
<%= link_to t( :edit ), edit_consent_form_path(@consent_form) %> |
<%= link_to t( :back ), consent_forms_path %>
