<p id="notice"><%= notice %></p>
<h1><%= t 'consent_forms.show.name' %>:</h1>
<p><%= @consent_form.name %></p>

<h2><%= t 'consent_forms.show.lead_admin' %>:</h2>
<p><%= @consent_form.user.informal_name( false ) %></p>

<h2><%= t 'consent_forms.show.applicable_lbl' %>:</h2>
<% if @consent_form.projects.empty? %>
<p><%= t 'consent_forms.show.applicable_txt' %></p>
<% else %>
<ul>
  <% @consent_form.projects.each do |project|%>
  <li><%= project.course.pretty_name( false ) %> : 
      <%= project.get_name( false ) %></li>
  <% end %>
</ul>
<% end %>

<h2><%= t 'consent_forms.show.form_text_lbl' %></h2>
<p><%= t 'consent_forms.show.form_text' %></p>
<p><%= raw @consent_form.form_text %></p>
<br>
<%= link_to t( :edit ), edit_consent_form_path(@consent_form) %> |
<%= link_to t( :back ), consent_forms_path %>
