<%= simple_form_for @bingo_game do |f| %>
  <%= f.error_notification %>
  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
  <div data-role="tabs" id="tabs">
    <div data-role="navbar">
      <ul>
        <li><a href="#details" data-ajax="false">Details</a></li>
        <li><a href="#summary" data-ajax="false">Response Summary</a></li>
        <li><a href="#responses" data-ajax="false">Response Data</a></li>
      </ul>
    </div>
    <div id="details" class="ui-body-<%= theme_code %> ui-content">
      <h2>Experience Details</h2>
      <div class="form-inputs">
        <%= f.association :course %>
        <%= f.input :topic %>
        <%= f.input :description %>
        <table width="100%">
          <tr>
            <td width="45%">
              <%= f.input :active %>
            </td>
            <td rowspan="4" width="10%" align="center" valign="center">&nbsp;</td>
            <td>
              <%= f.input :lead_time, label: "Days for instructor prep" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.input :individual_count, label: "Terms per individual" %>
            </td>
            <td>
              <%= f.input :group_option, label: "Group submissions allowed?" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.input :group_count, label: "Terms per group" %>
            </td>
            <td>
              <%= f.input :project,
                collection: @bingo_game.course.projects.each.to_a,
                prompt: true,
                label: "Source of project groups" %>
            </td>
          </tr>
          <tr>
            <td >
              <%= f.input :start_date, as: :date_time_local, label: "Bingo Game start date" %>
            </td>
            <td >
              <%= f.input :end_date, as: :date_time_local, label: "Bingo Game end date" %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <em>Note: This game occurs in the <%= @bingo_game.course.timezone %> timezone and all dates reflect this.</em>
            </br>
          </br>
        </td>
      </tr>
    </table>
  </div>
</div>
<div id="summary" class="ui-body-<%= theme_code %> ui-content">
  <h2>Student Response Summary</h2>
  <p>Coming soon!</p>
</div>
<div id="responses" class="ui-body-<%= theme_code %> ui-content">
  <h2>Student Response Data</h2>
  <p>Coming soon!</p>
</div>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
