<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="<%= t :column_select %>"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th><%= t :name %></th>
      <th><%= t :course %></th>
      <th data-priority="0"><%= t :start_date %></th>
      <th data-priority="0"><%= t :end_date %></th>
      <th data-priority="0"><%= t :active %></th>
      <th data-priority="0"><%= t :actions %></th>
    </tr>
  </thead>
  <tbody>
    <% @bingo_games.each do |bingo_game| %>
      <tr>
        <td><%= link_to bingo_game.get_name( anonymize ), bingo_game %></td>
        <td><%= bingo_game.course.get_name( anonymize ) %></td>
        <td>
          <div hidden>
            <%= l in_tz( date: bingo_game.start_date ), format: :datestamp %>
          </div>
          <%= l in_tz( date: bingo_game.start_date ), format: :tz_clarity %>
        </td>
        <td>
          <div hidden>
            <%= l in_tz( date: bingo_game.end_date ), format: :datestamp %>
          </div>
          <%= l in_tz( date: bingo_game.end_date ), format: :tz_clarity %>
        </td>
        <td><%= bingo_game.active %></td>
        <td><%= link_to t( :show ), bingo_game %>&nbsp;|&nbsp;
        <%= link_to t( :edit ), edit_bingo_game_path(bingo_game) %>&nbsp;|&nbsp;
        <%= link_to t( :destroy ), bingo_game, method: :delete, data: { confirm: t( :confirmation ) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
