<p id="notice"><%= notice %></p>
<% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
   anonymize = @current_user.research %>
<table data-role="table"
          id="basicTable"
          data-column-btn-theme"<%= theme_code %>" 
          data-column-popup-theme="<%= theme_code %>" 
          data-mode="columntoggle"
          data-column-btn-theme="<%= theme_code %>" 
          data-column-btn-text="Select columns&hellip;"
          class="table-stroke ui-shadow table-stripe table-ui-responsive ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th data-priority="0">Start Date</th>
      <th data-priority="0">End Date</th>
      <th data-priority="0">Active</th>
      <th data-priority="0">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bingo_games.each do |bingo_game| %>
      <tr>
        <td><%= link_to bingo_game.get_name( anonymize ), bingo_game %></td>
        <td><%= bingo_game.course.get_name( anonymize ) %></td>
        <td><%= bingo_game.start_date %></td>
        <td><%= bingo_game.end_date %></td>
        <td><%= bingo_game.active %></td>
        <td><%= link_to 'Show', bingo_game %>&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_bingo_game_path(bingo_game) %>&nbsp;|&nbsp;
        <%= link_to 'Destroy', bingo_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Bingo Game', new_bingo_game_path %>
