  <table>
    <tr>
      <th align="right"><%= t 'bingo_games.topic' %>:</th>
      <td><%= @bingo_game.topic %></td>
    </tr>
    <tr>
      <th align="right"><%= t :description %>:</th>
      <td><%= raw( @bingo_game.description ) %></td>
    </tr>
    <tr>
      <th align="right"><%= t :status %>:</th>
      <td><%= @bingo_game.status %>%</td>
    </tr>
    <tr>
      <th align="right"><%= t :close_date %>:</th>
      <td><%= l in_tz( date: @bingo_game.end_date ), format: :tz_clarity %></td>
    </tr>
  </table>
<%= simple_form_for update_bingo_candidates_review_path( @bingo_game ) do |f| %>
  <%= f.error_notification %>
  <% theme_code = get_theme_code
     anonymous = get_anonymous
%>
  <h2><%= t 'candidate_lists.terms' %>:</h2>
  <% 
     dataUrl = review_bingo_candidates_path(@bingo_game.id )
     reviewSaveUrl = update_bingo_candidates_review_path( @bingo_game.id)
     conceptUrl = bingo_concepts_path(0)
     if @bingo_game.id < 1
      dataUrl = bingo_demo_review_path
      reviewSaveUrl = demo_update_bingo_candidates_review_path
      conceptUrl = bingo_concepts_demo_path( 0 )
     end
  %>
  <%= react_component "CandidatesReviewTable", {
    dataUrl: dataUrl,
    conceptUrl: conceptUrl,
    token: form_authenticity_token,
    bingo_game_id: @bingo_game.id,
    reviewSaveUrl: reviewSaveUrl,
  } %>
<% end %>
