<%= simple_form_for update_bingo_candidates_review_path( @bingo_game ) do |f| %>
  <%= f.error_notification %>
  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
  <h1>Bingo! Word List</h1>
  <table>
    <tr>
      <th align="right">Topic:</th>
      <td><%= @bingo_game.topic %>
    </tr>
    <tr>
      <th align="right">Game date:</th>
      <td><%= @bingo_game.end_date %>
    </tr>
  </table>
  <h2>Terms</h2>
  <table id="candidates_table" width="100%"
        class="table-stroke-ui ui-shadow table-stripe table-ui-responsive" >
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="30%">Term</th>
        <th>Definition</th>
        <th>Feedback</th>
        <th>Concept</th>
      </tr>
    </thead>
    <tbody><% count = 0 %>
      <% @bingo_game.candidates.each do |candidate| %>
      <tr>
        <td><%= count += 1 %></td>
        <td><%= candidate.term %></td>
        <td><%= candidate.definition %></td>
        <td><%= f.input "candidate_feedback_#{candidate.id}",
                      value: candidate.candidate_feedback_id, 
                      collection: CandidateFeedback.all.each_with_index.to_a,
                      prompt: true %>
        </td>
        <td><%= f.input "concept_#{candidate.id}",
                      value: candidate.concept_id, 
                      collection: Concept.all.each_with_index.to_a,
                      prompt: true %>
            <%= f.input "new_concept_#{candidate.id}", as: :text %>
        </td>
                      
      </tr>
      <% end %>
    </tbody>
  </table>

<div class="form-actions">
  <%= f.button :submit, "Save" %>
</div>
<% end %>
