<%= simple_form_for update_bingo_candidates_review_path( @bingo_game ) do |f| %>
  <%= f.error_notification %>
  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code 
     anonymous = @current_user.anonymize?
%>
  <table>
    <tr>
      <th align="right"><%= t 'bingo_games.topic' %>:</th>
      <td><%= @bingo_game.topic %></td>
    </tr>
    <tr>
      <th align="right"><%= t :description %>:</th>
      <td><%= raw( @bingo_game.description ) %></td>
    </tr>
    <tr>
      <th align="right"><%= t :status %>:</th>
      <td><%= @bingo_game.status %>%</td>
    </tr>
    <tr>
      <th align="right"><%= t :close_date %>:</th>
      <td><%= l @bingo_game.end_date, format: :tz_clarity %></td>
    </tr>
  </table>
  <h2><%= t 'candidate_lists.terms' %>:</h2>
  <table data-role="table"
    id="candidates_table"
    width="100%"
    data-mode="columntoggle"
    data-column-btn-theme="<%= theme_code %>"
    data-column-btn-text="<%= t :column_select %>"
    class="table-stroke-ui ui-shadow table-stripe table-ui-responsive" >
    <thead>
      <tr>
        <th>#</th>
        <th data-priority="0"><%= t 'bingo_games.term' %></th>
        <th data-priority="1"><%= t :submitted_by %></th>
        <th data-priority="0"><%= t 'bingo_games.definition' %></th>
        <th data-priority="0"><%= t 'bingo_games.feedback' %></th>
        <th width="20%" data-priority="0"><%= t 'bingo_games.concept' %></th>
      </tr>
    </thead>
    <tbody><%
      count = 0
      candidate_feedbacks = CandidateFeedback.all
      %>
      <% @bingo_game.candidates.
        includes(:user, :concept,candidate_list:[:group]).
        completed.find_each do |candidate| %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= candidate.term %></td>
          <td>
            <%= candidate.user.name( anonymous ) %>
            <% if candidate.candidate_list.is_group %>
              <br>
              (with group: <i><%= candidate.candidate_list.group.get_name( anonymous ) %></i>)
          <% end %>
          </td>
          <td><%= candidate.definition %></td>
          <td><%= f.input_field "candidate_feedback_#{candidate.id}",
                      selected: candidate.candidate_feedback_id, 
                      collection: candidate_feedbacks,
                      prompt: true,
                      label: false %>
          </td>
          <td><%= f.input_field "concept_#{candidate.id}",
                      value: candidate.concept.blank? ? "": candidate.concept.name, 
                      class: "awesomplete-ajax",
                      data: { list: '#concepts' },
                      label: false %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.input :reviewed, as: :boolean, label: "Review completed" %>
  <div class="form-actions">
    <%= f.button :submit, t(:save) %>
  </div>
<% end %>
