<%= simple_form_for update_bingo_candidates_review_path( @bingo_game ) do |f| %>
  <%= f.error_notification %>
  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
  <table>
    <tr>
      <th align="right">Topic:</th>
      <td><%= @bingo_game.topic %>
    </tr>
    <tr>
      <th align="right">Game date:</th>
      <td><%= @bingo_game.end_date %>
    </tr>
  </table>
  <h2>Terms</h2>
  <table id="candidates_table" width="100%"
        class="table-stroke-ui ui-shadow table-stripe table-ui-responsive" >
    <thead>
      <tr>
        <th>#</th>
        <th>Term</th>
        <th>Definition</th>
        <th>Feedback</th>
        <th width="20%">Concept</th>
      </tr>
    </thead>
    <tbody><% count = 0 %>
      <% @bingo_game.candidates.completed.each do |candidate| %>
      <tr>
        <td><%= count += 1 %></td>
        <td><%= candidate.term %></td>
        <td><%= candidate.definition %></td>
        <td><%= f.input_field "candidate_feedback_#{candidate.id}",
                      selected: candidate.candidate_feedback_id, 
                      collection: CandidateFeedback.all,
                      prompt: true,
                      label: false %>
        </td>
        <td><%= f.input_field "concept_#{candidate.id}",
                      value: candidate.concept.blank? ? "": candidate.concept.name, 
                      class: "awesomplete",
                      data: { list: Concept.all.collect{|x| x.name }.join( ", " ) },
                      label: false %>
        </td>
                      
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.input :reviewed, as: :boolean, label: "Review completed" %>

<div class="form-actions">
  <%= f.button :submit, "Save" %>
</div>
<% end %>
