<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>School</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Instructors</th>
      <th>Students</th>
      <th>Projects</th>
      <th>Experiences</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.number %></td>
        <td><%= course.name %></td>
        <td><%= course.school.name %></td>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.rosters.instructorships.count %></td>
        <td><%= course.rosters.students.count %></td>
        <td><%= course.projects.count %></td>
        <td><%= course.experiences.count %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_admin_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_admin_course_path %>
