<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Dates:</strong>
  <%= @course.start_date %> to
  <%= @course.start_date %>
</p>
<p>
  <strong>Course instructors</strong>
  <% @course.rosters.students.each do |roster| %>
    <%= roster.user.name %> (<%= roster.role.name %><br>
  <% end %>
</p>
<p>
  <strong>Student roster</strong>
  <% @course.rosters.instructorships.each do |roster| %>
    <%= roster.user.name %><br>
  <% end %>

</p>
<p>
  <strong>Projects</strong>
  <% @course.projects.each do |project| %>
    <%= project.name %></br>
  <% end %>

</p>
<p>
  <strong>Experiences</strong>
  <% if @courses.experiences.count > 0 %>
    <table>
      <tr>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
          <% @course.experiences.each do |experience| %>
            <tr>
                <td><%= experience.name %></td>
                <td><%= link_to 'Show', experience %></td>
                <td><%= link_to 'Edit', edit_admin_experience_path(experience) %></td>
                <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
    </table>
  <% end %>
</p>


<%= link_to 'Edit', edit_admin_course_path(@course) %> |
<%= link_to 'Back', admin_courses_path %>
