<!DOCTYPE html>
<html>
  <%= favicon_link_tag '/assets/images/favicon.ico' %>
  <head>
    <%= render 'layouts/shared/google_analytics' %>
    <title><%= t :title %> <%= " : " + @title unless @title.nil? %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500' %>

    <% if true && Rails.env.test? %>
      <%= javascript_pack_tag 'application', 'testing' %>
    <% else %>
      <%= javascript_pack_tag 'application' %>
    <% end %>
    <%= stylesheet_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= react_component "PageWrapper", props: {
          token: form_authenticity_token,
          getEndpointsUrl: endpoints_path

      }
      %>
    <% if true && Rails.env.test? %>
      <%= react_component "TimeSetter", { } %>
    <% end %>
        <% if flash[:error] -%>
          <p class='error'><%=h flash[:error] %></p>
        <% end -%>
        <% if flash[:notice] -%>
          <p class='notice'><%=h flash[:notice] %></p>
        <% end -%>
        <%= yield %>
    <%= render 'layouts/shared/footer', working: false %>
  </body>
</html>
