<!DOCTYPE html>
<html>
<head>
  <title>CoLab <%= " : " + @title unless @title.nil? %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page" data-theme="a">
    <div data-role="header" style="overflow:hidden;" >
      <%= link_to "Home", root_path, :'data-icon' => "home"%>
      <h1>Self- and Peer-Assessment</h1>
      <% if !@week.nil? %>
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-left">
          <% if !@reaction.week.nil? %>
          <div id="progressbar">
            <div style="width: <%= @reaction.week.percent_complete %>">
              <%= @reaction.percent_complete %>%&nbsp;complete
            </div>
          </div>
          <% end %>
          <a href="#instructions" id="instr_btn" 
            class="ui-btn ui-mini ui-icon-info ui-btn-inline ui-btn-icon-right" >Instructions</a>
        </fieldset>
      <% end %>
    </div>

    <div data-role="content">
      <% if flash[:error] -%>
        <p class='error'><%=h flash[:error] %></p>
      <% end -%>
      <% if flash[:notice] -%>
        <p class='notice'><%=h flash[:notice] %></p>
      <% end -%>

<%= yield %>
    </div>
    <div data-role="page">
      <% if !@reaction.nil? %>
      <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" id="instructions">
      <a href="#instr_btn" class="ui-btn ui-icon-delete" data-rel="close"> Close panel</a>
      <div data-role="collapsible">
        <h4>Instructions</h4>
        <%= render "shared/instructions" %>
      </div>
      <div data-role="collapsible">
        <h4>Behaviors</h4>
        <%= render "shared/behaviors" %>
      </div>
      <div data-role="collapsible">
        <h4>Scenario</h4>
        <%= render "shared/scenario" %>
      </div>
      <% end %>
    </div>
    <div data-role="footer" data-position="fixed">
      <div class="ui-grid-a">
        <div class="ui-block-a">
          <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <% if !@current_user.nil? %>
              <%= link_to 'Profile', edit_user_registration_path(@current_user), :'data-icon' => "gear",
                :'data-role' => "button", :"data-theme" => "d" %>
            <% end %>
            <% if !@current_user.nil? %>
              <% if @current_user.is_instructor? %>
                <div data-role="popup" id="instructor_menu">
                  <ul data-role="listview" data-inset="true" data-theme="d" data-mini="true">
                    <li data-role="divider" data-theme="a">Instructor Functions</li>
                    <li><%= link_to "Reports", graphing_path, 
                      :"data-theme" => "d", :"data-mini" => true %></li>
                  </ul>
                </div>
                <a href="#instructor_menu" data-rel="popup" data-role="button" data-theme="d">Instructor</a>
                <% if @current_user.is_admin? %>
                  <%= link_to "Admin", admin_path, :'data-role' => "button", :"data-theme" => "d" %>
                <% end %>
              <% end %>
              <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :'data-role' => "button",
                :"data-theme" => "d" %>
            <% end %>
          </div>
        </div>
        <div class="ui-block-b">
          <div data-role="controlgroup" data-type="horizontal" data-mini="true" align="right">
            <%= mail_to "support@peerAssess.info", "Contact Support",
              :subject => "SAPA Support Request", :'data-role' => "button", :"data-theme" => "d"%>
            <%= link_to "About", "https://www.PeerAssess.info", :'data-role' => "button", :"data-theme" => "d" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
