<% theme_code = get_theme_code %>
<!DOCTYPE html>
<html>
  <%= favicon_link_tag %>
  <head>
    <%= render 'layouts/shared/google_analytics' %>
    <title><%= t :title %> <%= " : " + @title unless @title.nil? %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div data-role="page" data-theme="<%= theme_code %>">
      <%= react_component "PageWrapper", {
          token: form_authenticity_token,
          getEndpointsUrl: endpoints_path

      }%>
      <div data-role="content">
        <% if flash[:error] -%>
          <p class='error'><%=h flash[:error] %></p>
        <% end -%>
        <% if flash[:notice] -%>
          <p class='notice'><%=h flash[:notice] %></p>
        <% end -%>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/shared/footer', working: false %>
  </body>
</html>
