<!DOCTYPE html>
<html>
  <%= favicon_link_tag '/images/favicon.ico' %>
  <head>
    <title><%= t :title %> <%= " : " + @title unless @title.nil? %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500' %>
    <meta property="og:title" content="CoLab.online: Improving collaboration, one team at a time" />
    <meta property="og:description" content="This collaboration-focused learning management system is designed to help instructors nurture spectacular team citizens." />
    <meta property="og:image" content="https://CoLab.online/images/CoLab.png" />
    <meta property="og:url" content="https://CoLab.online/welcome" />
    <meta property="og:type" content='website' />

    <% if true && Rails.env.test? %>
      <%= javascript_pack_tag 'application', 'testing' %>
    <% else %>
      <%= javascript_pack_tag 'application' %>
    <% end %>
    <%= stylesheet_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= react_component "PageWrapper", props: {
          # token: form_authenticity_token,
          getEndpointsUrl: endpoints_path,
          debug: Rails.env.test?,
      }
      %>
    <% if true && Rails.env.test? %>
      <%= react_component "TimeSetter", { } %>
    <% end %>
        <% if flash[:error] -%>
          <p class='error'><%=h flash[:error] %></p>
        <% end -%>
        <% if flash[:notice] -%>
          <p class='notice'><%=h flash[:notice] %></p>
        <% end -%>
        <%= yield %>
  </body>
</html>
