<% theme_code = get_theme_code %>
<!DOCTYPE html>
<html>
  <%= favicon_link_tag %>
  <head>
    <%= render 'layouts/shared/google_analytics' %>
    <title><%= t :title %> <%= " : " + @title unless @title.nil? %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "installments_manifest" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <% working = !( @diagnosis.nil? && @reaction.nil? ) %>
  </head>
  <body>
    <div data-role="page" data-theme="<%= current_user.nil? ? "a" : current_user.theme.code %>">
    <%= react_component "PageWrapper", {
          token: form_authenticity_token,
          getEndpointsUrl: endpoints_path

      }%>
        <a data-role="button" href="#bingo_performance" id="instr_btn" data-icon="info"
                data-rel="popup" data-transition="pop"
                class="ui-btn ui-btn-corner-all ui-icon-info ui-btn-right
                ui-btn-icon-left" ><%= t 'candidate_lists.feedback_info_label' %></a>
    </br>
    <div data-role="content">
      <% if flash[:error] -%>
        <p class='error'><%=h flash[:error] %></p>
      <% end -%>
      <% if flash[:notice] -%>
        <p class='notice'><%=h flash[:notice] %></p>
      <% end -%>
      <%= yield %>
    </div>
    <div data-role="popup" id="bingo_performance"
          class="ui-content"
          data-theme="<%= theme_code %>" style="width:90%">
      <%= render 'shared/candidate_feedback' %>
    </div>
    <%= render "layouts/shared/footer", working: working %>
  </div>
</body>
</html>
