<% theme_code = get_theme_code %>
<!DOCTYPE html>
<html>
  <%= favicon_link_tag %>
  <head>
    <title><%= t :title %> <%= " : " + @title unless @title.nil? %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "installments_manifest" %>
    <%= csrf_meta_tags %>
    <% working = !( @diagnosis.nil? && @reaction.nil? ) %>
  </head>
  <body>
    <div data-role="page" data-theme="<%= @current_user.nil? ? "a" : @current_user.theme.code %>">
      <div data-role="header" data-position="fixed" style="overflow:hidden;" >
        <h1 id="title_head"><%= t :title %> <%= " : " + @title unless @title.nil? %></h1>
        <p style="font-weight:300;font-size:10px;text-align:center"><% q = Quote.get_quote %><%= raw( q.get_local_quote) %>
              (<%= q.get_local_attribution %>)
        </p>
            <a data-role="button" href="#bingo_performance" id="instr_btn" data-icon="info"
                data-rel="popup" data-transition="pop"
                class="ui-btn ui-btn-corner-all ui-icon-info ui-btn-right
                ui-btn-icon-left" ><%= t 'candidate_lists.feedback_info_label' %></a>
      </div>
        </br>
      <div data-role="content">
        <% if flash[:error] -%>
          <p class='error'><%=h flash[:error] %></p>
        <% end -%>
        <% if flash[:notice] -%>
          <p class='notice'><%=h flash[:notice] %></p>
        <% end -%>
        <%= yield %>
      </div>
      <div data-role="popup" id="bingo_performance"
          class="ui-content"
          data-theme="<%= theme_code %>" style="width:90%">
        <%= render 'shared/candidate_feedback' %>
      </div>

      <%= render "layouts/shared/footer", working: working %>
    </div>
  </body>
</html>
