<% theme_code = get_theme_code %>
<!DOCTYPE html>
<html>
  <%= favicon_link_tag %>
  <head>
    <%= render 'layouts/shared/google_analytics' %>
    <title><%= t :title %> I like eggs<%= " : " + @title unless @title.nil? %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <% working = !( @diagnosis.nil? && @reaction.nil? ) %>
  </head>
  <body>
    <div data-role="page" data-theme="<%= theme_code %>">
  <%= react_component "PageWrapper", {
          token: form_authenticity_token,
          getEndpointsUrl: endpoints_path
      }%>
      <div data-role="content">
        <% if flash[:error] -%>
          <p class='error'><%=h flash[:error] %></p>
        <% end -%>
        <% if flash[:notice] -%>
          <p class='notice'><%=h flash[:notice] %></p>
        <% end -%>
        <%= yield %>
      </div>
      <% if working %>
        <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" id="instructions">
          <a href="#instr_btn" class="ui-btn ui-icon-delete"
          data-rel="close"> <%= t 'experiences.close_pnl' %></a>
          <div data-role="collapsible">
            <h4><%= t 'experiences.scenario_lbl' %></h4>
            <%= render "shared/instructions" %>
          </div>
          <div data-role="collapsible">
            <h4><%= t 'experiences.instructions_lbl' %></h4>
            <%= render "shared/scenario" %>
          </div>
        </div>
        <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" id="glossary">
          <a href="#instr_btn" class="ui-btn ui-icon-delete"
          data-rel="close"> <%= t 'experiences.close_pnl' %></a>
          <h4><%= t 'experiences.behavior_lbl' %></h4>
          <%= render "shared/behaviors" %>
        </div>
      <% end %>
      <%= render "layouts/shared/footer", working: working %>
    </div>
  </body>
</html>
