<!DOCTYPE html>
<html>
  <%= favicon_link_tag %>
  <head>
    <title><%= t :title %> <%= " : " + @title unless @title.nil? %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_tag do %>
      const chrtCtx = new Object( );
      chrtCtx.anonConfirm = '<%= t 'graphing.anon_confirm' %>';
      chrtCtx.date = '<%= t 'graphing.date' %>';
      chrtCtx.contributionLvl = '<%= t 'graphing.contribution_lvl' %>';
      chrtCtx.chrtDwnWrn = "<%= raw( t('graphing.chart_dwn_warn') ).chop %>";
      chrtCtx.chrtFor = '<%= t 'graphing.chart_for' %>';
      chrtCtx.forProject = '<%= t 'graphing.for_project' %>';
      chrtCtx.group = '<%= t 'graphing.group' %>';
      chrtCtx.low = '<%= t 'graphing.low' %>';
      chrtCtx.high = '<%= t 'graphing.high' %>';
      chrtCtx.andGroup = '<%= t 'graphing.and_group' %>';
      chrtCtx.wrote = '<%= t 'graphing.wrote' %>';
      chrtCtx.value = '<%= t 'graphing.value' %>';
      chrtCtx.indAd = '<%= t 'graphing.ind_ad' %>';
      chrtCtx.indAb = '<%= t 'graphing.ind_ab' %>';
      chrtCtx.indAo = '<%= t 'graphing.ind_ao' %>';
      chrtCtx.indAgG = '<%= t 'graphing.ind_ag_g' %>';
      chrtCtx.indAgS = '<%= t 'graphing.ind_ag_s' %>';
      chrtCtx.indAgS = '<%= t 'graphing.ind_ag_s' %>';
      chrtCtx.indAgM = '<%= t 'graphing.ind_ag_m' %>';
      chrtCtx.gAd = '<%= t 'graphing.g_ad' %>';
      chrtCtx.gAm = '<%= t 'graphing.g_am' %>';
      chrtCtx.gVb = '<%= t 'graphing.g_vb' %>';
      chrtCtx.gVm = '<%= t 'graphing.g_vm' %>';
      chrtCtx.gAgB = '<%= t 'graphing.g_ag_b' %>';
      chrtCtx.gAgM = '<%= t 'graphing.g_ag_m' %>';
    <% end -%>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "graphing_manifest" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div data-role="page" data-theme="<%= @current_user.nil? ? "a" : @current_user.theme.code %>">
      <div data-role="header" data-position="fixed" style="overflow:hidden;" >
        <h1 id="title_head"><%= t :title %> <%= " : " + @title unless @title.nil? %></h1>
        <p style="font-weight:300;font-size:10px;text-align:center"><% q = Quote.get_quote %><%= raw( q.get_local_quote) %>
              (<%= q.get_local_attribution %>)
        </p>
      </div>
      <div data-role="content">
        <% if flash[:error] -%>
          <p class='error'><%=h flash[:error] %></p>
        <% end -%>
        <% if flash[:notice] -%>
          <p class='notice'><%=h flash[:notice] %></p>
        <% end -%>
        <%= yield %>
      </div>
    <%= render 'layouts/shared/footer', working: true %>
    </div>
  </body>
</html>
