<br/><br/>
<%= @bingo_board.bingo_game.topic %><br/>
<table border="1">
  <tbody>
    <% @practice_answers.each do |pr| %>
    <tr>
      <% pr.each do |cell| %>
        <td><%= cell.blank? ? '--' : cell %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% if @bingo_board.result_img.attached? %>
  <%= image_tag @bingo_board.result_img %>
<% else %>
  No image attached.<br/>
<% end %>
<%= form_with model: @bingo_board, url: ws_score_path( @bingo_board ) do |f| %>
  <%= f.number_field :performance %>
  <%= f.file_field :result_img, accept: 'image/*,application/pdf'  %>
  <%= f.submit %>
<% end %>

